{% extends "base.html" %}
{% load static %}
{% block content %}
                                
  
  <br>
  <section>
      {% block introsection %}
      <div class="container-fluid mx-auto">
         <center><h1><b><i> Traditional Wear </i></b></h1></center><br><br>
         <div class="row mx-auto">
             <div class="col-md-3">
                 <img src="{% static 'img/2.JPG' %}" class="img-responsive" alt="lights" style="width:100%">
             </div>
             <div id="pic" class="col-md-6">
                 <center><p><i>India is known for its diversity the all over the globe.
                    Ethnic clothing is just one of the things that distinguish one part of India
                    from the other. The traditional Indian attire has earned admirers from people from 
                    all over to organizations like UNESCO. The craftsmanship with which artisans create 
                    traditional dresses is really incredible. All forms of clothing are quite labor intensive 
                    and require a lot of attention to detail. Many of these art forms are dying because the 
                    cost of production is higher and few people can afford to pay the high cost of the dress. 
                    This has forced the textile ministry to come up with ways to sustain these artisans and 
                    preserve their talent and art. As every state in India is geographically different from 
                    the other, this has given rise to varied kinds of dresses and styles.
                  </i>
                </p></center>

             </div>
             <div class="col-md-3">
                <img src="{% static 'img/1.JPG' %}" class="img-responsive" alt="lights" style="width:100%">
             </div>
             {% endblock %}
         </div>
<br>        
         
          <div class="row mx-auto">
          <!--Categories displayed at Md and Lg screen-->
              <div id="category" class="col-md-3 d-none d-sm-none d-md-block d-lg-block">
                    {% block sidebar %}
                    <h3><b><i>Indian Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                    <a href="{% url 'blouse' %}">
                    <h5>Blouse</h5></a>
                    <a href="{% url 'kurtikurta' %}">
                    <h5>Kurtis Kurtas & Tunics</h5></a>
                    <a href="{% url 'lehenga' %}">
                    <h5>lehengas</h5></a>
                    <a href="{% url 'salwarsuit' %}">
                    <h5>Salwar Suit</h5></a>
                    <a href="{% url 'saree' %}">
                    <h5>Sarees</h5></a>
                    <a href="{% url 'dupattas' %}">
                    <h5>Dupattas</h5></a>
                    <a href="{% url 'ethnicdress' %}">
                    <h5>Ethnic Dress</h5></a>
                    <a href="{% url 'ethnicjackets' %}">
                    <h5>Ethnic Jackets</h5></a>
                    <a href="{% url 'bottoms' %}">
                    <h5>Bottoms</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'vacations' %}">
                    <h5>Vacations</h5></a>
                    <br>
                    <p><i><u><b>Types</b></u></i></p>
                    <a href="{% url 'pants' %}">
                    <h5>Pants</h5></a>
                    <a href="{% url 'skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'leggings' %}">
                    <h5>Leggings</h5></a>
                    <a href="{% url 'churidars' %}">
                    <h5>Churidar</h5></a>
                    <a href="{% url 'dhotis' %}">
                    <h5>Dhotis</h5></a>
                    <a href="{% url 'plazzos' %}">
                    <h5>Palazzos</h5></a>
                    <a href="{% url 'shararas' %}">
                    <h5>Sharara</h5></a>
                    <br>
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'mirror' %}">
                    <h5>Mirror Work</h5></a>
                    <a href="{% url 'stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'checks' %}">
                    <h5>Checks</h5></a>
                    
                    <a href="{% url 'embroidered' %}">
                    <h5>Embroidered</h5></a>

                    {% endblock %}
              </div>

              <div class="col-md-9  ">
                     {% block mainbar %}
                     
                    <section class="pt-5 mx-auto">
                        <div class=" row mx-auto">
                            <div id="highlight" class="col-md-3">
                                <img src="{% static 'img/croptop.JPG' %}" alt="lights">
                               <p><b>Ethnic Dress(croptop skirt)</b>
                                 <a type="button" class="btn btn-outline-secondary text-light" href="{% url 'ethnicdress' %}">
                                  read more</a></p>
                                        
                              </div>
                            
                            <p class="d-sm-block d-md-none d-lg-none"><b>Ethnic Dress(croptop skirt)</b></p>
                            
                         

                            <div id="highlight" class="col-md-3 ">
                              <img src="{% static 'img/salwarsuit.jpg' %}" alt="lights"> 
                              <p><b>Salwar Suit</b>
                                   <a type="button" class="btn btn-outline-secondary text-light" href="{% url 'salwarsuit' %}">
                                    read more</a></p>
                                </a>
                            </div>
                            <center>
                            <p class="d-sm-block d-md-none d-lg-none"><b>Ethnic Dress(croptop skirt)</b></p>
                            </center>
                            
                            <div id="highlight" class="col-md-3 ">
                                <img src="{% static 'img/saree.jpg' %}" alt="lights"> </a>
                                 <p><b>Saree</b>
                                 <a type="button" class="btn btn-outline-secondary text-light" href="{% url 'saree' %}">
                                        read more</a></p>
                               
                              </div>
                             
                    
                        </div>
                    </section>

                    <section class="pt-5 mx-auto">
                        <div class=" row mx-auto">
                            <div id="highlight" class="col-md-3">
                                <img src="{% static 'img/suit.jpg' %}" alt="lights">                                <p><b>Kurtas(with palazzo)</b>
                                 <a type="button" class="btn btn-outline-secondary text-light" href="{% url 'kurtikurta' %}">
                                     read more</a></p>
                            </div>
                            
                            <div id="highlight" class="col-md-3">
                              <img src="{% static 'img/patialas.jpg' %}" alt="lights"> 
                                <p><b>Salwar Suit(patiala)</b>
                                   <a type="button" class="btn btn-outline-secondary text-light" href="{% url 'salwarsuit' %}">
                                    read more</a></p>
                            </div>
                            
                            <div id="highlight" class="col-md-3">
                              <img src="{% static 'img/ethnic.jpg' %}" alt="lights"> 
                               <p><b>Ethnic Dress(layer kurta dhoti)</b>
                                   <a type="button" class="btn btn-outline-secondary text-light" href="{% url 'ethnicdress' %}">
                                    read more</a></p>
                             </div>
                             
                    
                        </div>
                    </section>
                    
                    <section class="pt-5 mx-auto">
                        <div class=" row mx-auto">
                            <div id="highlight" class="col-md-3">
                              <img src="{% static 'img/kurti.jpg' %}" alt="lights"> 
                               <p><b>Kurta set (with pant)</b>
                                 <a type="button" class="btn btn-outline-secondary text-light" href="{% url 'kurtikurta' %}">
                                    read more</a></p>
                             </div>
                             
                             <div id="highlight" class="col-md-3">
                                <img src="{% static 'img/dress2.jpg' %}" alt="lights"> 
                                  <p><b>Lehengas</b>
                                  <a type="button" class="btn btn-outline-secondary text-light" href="{% url 'lehenga' %}">
                                    read more</a></p>
                             </div>
                             
                             <div id="highlight" class="col-md-3">
                                <img src="{% static 'img/dress.jpg' %}" alt="lights">
                                  <p><b>Palazzo Dress</b>
                                    <a type="button" class="btn btn-outline-secondary text-light" href="{% url 'plazzos' %}">
                                       read more</a></p>
                                
                             </div>
                        </div>     
                     </section>
                     
                     <section class="pt-5 mx-auto">
                        <div class=" row mx-auto">
                            <div id="highlight" class="col-md-3">
                              <img src="{% static 'img/dup.jpg' %}" alt="lights"> 
                                <p><b>Dupattas Style</b>
                                 <a type="button" class="btn btn-outline-secondary text-light" href="{% url 'dupattas' %}">
                                    read more</a></p>
                             </div>
                             
                             <div id="highlight" class="col-md-3">
                                <img src="{% static 'img/jack.jpg' %}" alt="lights"> 
                                <p><b>Ethnic Jacket(with palazzo &kurta)</b>
                                    <a type="button" class="btn btn-outline-secondary text-light" href="{% url 'ethnicjackets' %}">
                                       read more</a></p>
                             </div>
                             
                             <div id="highlight" class="col-md-3">
                               <img src="{% static 'img/blo.jpg' %}" alt="lights">
                                  <p><b>Blouse Style And Saree</b>
                                   <a type="button" class="btn btn-outline-secondary text-light" href="{% url 'blouse' %}">
                                    read more</a></p>
                             </div>
                        </div>     
                     </section>
                    
                     <section class="pt-5 mx-auto">
                        <div class=" row mx-auto">
                            <div id="highlight" class="col-md-3">
                              <img src="{% static 'img/chu.jpg' %}" alt="lights"> 
                                  <p><b>Churidar Salwar Kurti</b>
                                    <a type="button" class="btn btn-outline-secondary text-light" href="{% url 'churidars' %}">
                                       read more</a></p>
                             </div>
                             
                             <div id="highlight" class="col-md-3">
                               <img src="{% static 'img/dhoti.jpg' %}" alt="lights"> 
                                 <p><b>Dhoti Style (with short kurta)</b>
                                    <a type="button" class="btn btn-outline-secondary text-light" href="{% url 'dhotis' %}">
                                       read more</a></p>
                             </div>
                             
                             <div id="highlight" class="col-md-3">
                                <img src="{% static 'img/sharara.jpg' %}" alt="lights"> 
                                 <p><b>Sharara Type(with short kurta)</b>
                                    <a type="button" class="btn btn-outline-secondary text-light" href="{% url 'shararas' %}">
                                       read more</a></p>
                             </div>
                        </div>     
                     </section>
                
                    <section class="pt-5 mx-auto">
                       <div class=" row mx-auto">
                           <div id="highlight" class="col-md-3">
                              <img src="{% static 'img/pant.jpg' %}" alt="lights"> 
                                <p><b>Pant Type(with straight kurta)</b>
                                 <a type="button" class="btn btn-outline-secondary text-light" href="{% url 'pants' %}">
                                    read more</a></p>
                            </div>
                            <div id="highlight" class="col-md-3">
                               <img src="{% static 'img/ski.jpg' %}" alt="lights"> 
                               <p><b>Skirt Type(with top)</b>
                                    <a type="button" class="btn btn-outline-secondary text-light" href="{% url 'skirts' %}">
                                       read more</a></p>
                            </div>
                            <div id="highlight" class="col-md-3">
                              <img src="{% static 'img/leg.jpg' %}" alt="lights"> 
                              <p><b>Legging Type(with Kurta)</b>
                                    <a type="button" class="btn btn-outline-secondary text-light" href="{% url 'leggings' %}">
                                       read more</a></p>
                            </div>
                       </div>     
                    </section>
                     {% endblock %}
              </div>
          </div>
      </div>
  </section>
<br><br>
  {% endblock %}
