{% extends "femalewears/westernwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block Sidebar %}
<h3><b><i>Western  Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                    <a href="{% url 'dresses' %}">
                    <h5>Dresses</h5></a>
                    <a href="{% url 'tops' %}">
                    <h5>Tops</h5></a>
                    <a href="{% url 'cardigans' %}">
                    <h5>Cardigans & Sweaters</h5></a>
                    <a href="{% url 'gowns' %}">
                    <h5>Gowns</h5></a>
                    <a href="{% url 'jackets' %}">
                    <h5>Jackets & Coats</h5></a>
                    <a href="{% url 'jumpsuits' %}">
                    <h5>Jumpsuits</h5></a>
                    <a href="{% url 'Skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'sweatshirts' %}">
                    <h5>Sweatshirts</h5></a>
                    <a href="{% url 'jeans' %}">
                    <h5>Jeans & Jeggings</h5></a>
                    <a href="{% url 'sets' %}">
                    <h5>Sets</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'Casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'Festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'Formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'Party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'Evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'Work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'Wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'Vacation' %}">
                    <h5>Vacations</h5></a>
                    <a href="{% url 'Cocktail' %}">
                    <h5>Cocktail</h5></a>
                    <a href="{% url 'Ethnic' %}">
                    <h5>Everyday Essential</h5></a>
                    <br>
                    
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'Solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'Printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'Floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'Stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'Checks' %}">
                    <h5>Checks</h5></a>
                    <a href="{% url 'Ruffled' %}">
                    <h5>Ruffled</h5></a>
                    <a href="{% url 'Embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/cocktail1.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/cocktail1.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Cocktail Embroidered Sleep Dress - White </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Comfy and fun, Our Cocktail Embroidered Sleep Dress will make you feel pretty and look beautiful.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/cocktail2.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/cocktail2.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Onyx cocktail Mini Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Adorned with onyx like beads all over , this black dress is a must have for your
             cocktail parties and evenings.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Embellished/Sequined<br>
            Type : Mini
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/cocktail3.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/cocktail3.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>White Sheer Yoke Cocktail Lace Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1"> Sheer Yoke Cocktail Lace Dress Adorned with onyx like beads all over , this White dress is a must have for your
             cocktail parties and evenings.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Nylon<br>
            Pattern : Solid/Plain<br>
            Type : Mini
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/cocktail4.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/cocktail4.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Lavender Cocktail Tube Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1"> This lavender midi tube dress in silk and features a slim fit, floral embroidery
             and seam at waist level with a zipper closure . Style this dress with a pair
              of shoulder-grazing earrings for cocktail or formal evenings.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Silk<br>
            Pattern : Solid/Plain<br>
            Type : Knee Length
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/cocktail5.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/cocktail5.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Red Embellished Flared Cocktail Gown </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1"> Embellished Flared Cocktail Gown. Style this dress with a pair
            of shoulder-grazing earrings for cocktail or formal evenings.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Embellished/Sequined<br>
            Type : Maxi
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/cocktail6.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/cocktail6.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Dohyenne Maroon Sheath Cocktail Winter Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1"> Dohyenne Sheath Woolen Cocktail Dress for Winter evening parties. Team it with Long earrings
            and boots.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Wool<br>
            Pattern : Solid/Plain<br>
            Type : Midi
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/cocktail7.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/cocktail7.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Cocktail Green Jute Kurta Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1"> Cocktail green pure chanderi kurta dress with jute highlight at center front and
             sleeves. The outfit has gathered big sleeves, lining inside and 2 side pockets.
              Wear it as a dress or team it with a bottom for a suit look.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Chanderi<br>
            Pattern : Solid/Plain<br>
            Type : Midi
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/cocktail8.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/cocktail8.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Olive Cocktail Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1"> This olive full length strappy cocktail dress by tara and i is crafted in silk and 
            features scallop layers, slim fit, a side slit and a zipper closure.
             Style this dress with statement earrings for summer weddings and cocktail parties.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Silk<br>
            Pattern : Solid/Plain<br>
            Type : Maxi
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/cocktail9.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/cocktail9.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Purple Retro Theme Cocktail Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1"> This purple khadi retro theme sleeveless cocktail dress features a round neck with
             frills, a waist belt and has a relaxed fit. Pair this dress with stud earrings and heels 
             to complete the look.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Khadi<br>
            Pattern : Stripes<br>
            Type : Knee Length
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/cocktail10.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/cocktail10.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Embellished Cocktail Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Lines of embroidery on this cocktail dress makes it a head turner. Pair this dress
             with stud earrings and heels to complete the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Embellished/Sequined<br>
            Type : Knee Length
            </p>
</div>
</div><br><br>
{% endblock %}