{% extends "femalewears/westernwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block Sidebar %}
<h3><b><i>Western  Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                    <a href="{% url 'dresses' %}">
                    <h5>Dresses</h5></a>
                    <a href="{% url 'tops' %}">
                    <h5>Tops</h5></a>
                    <a href="{% url 'cardigans' %}">
                    <h5>Cardigans & Sweaters</h5></a>
                    <a href="{% url 'gowns' %}">
                    <h5>Gowns</h5></a>
                    <a href="{% url 'jackets' %}">
                    <h5>Jackets & Coats</h5></a>
                    <a href="{% url 'jumpsuits' %}">
                    <h5>Jumpsuits</h5></a>
                    <a href="{% url 'Skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'sweatshirts' %}">
                    <h5>Sweatshirts</h5></a>
                    <a href="{% url 'jeans' %}">
                    <h5>Jeans & Jeggings</h5></a>
                    <a href="{% url 'sets' %}">
                    <h5>Sets</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'Casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'Festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'Formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'Party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'Evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'Work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'Wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'Vacation' %}">
                    <h5>Vacations</h5></a>
                    <a href="{% url 'Cocktail' %}">
                    <h5>Cocktail</h5></a>
                    <a href="{% url 'Ethnic' %}">
                    <h5>Everyday Essential</h5></a>
                    <br>
                    
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'Solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'Printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'Floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'Stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'Checks' %}">
                    <h5>Checks</h5></a>
                    <a href="{% url 'Ruffled' %}">
                    <h5>Ruffled</h5></a>
                    <a href="{% url 'Embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/everyday1.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Khakhi Oversized Crop Shirt and Joggers</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Whether its sight-seeing during a holiday or a Sunday brunch with the girls, do it in style
             with our khaki green oversized elasticated crop shirt with tie detailing on the sides. 
             Style your look with our khaki joggers to make an edgy style statement. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Poplin<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/everyday2.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Blue Chambray Summer Shorts</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Featuring our powder blue high waisted shorts in a breathable chambray fabric to help
             you beat the heat in style! Style your look with our chambray summer blazer to make 
             a style statement everywhere you go! </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/everyday3.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Beige Crossover Pants And White Crop Top</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Our beige crossover button detailed flared pants is all you need to make a style 
            statement while you conquer the day. Explore a new city or get your work done by styling
             this with a crop top and layered necklaces. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/everyday4.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Light Green Stripes Cape Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">A stylish cape dress is a sure statement this summer. A free size dress can be a
             chic and comfortable choice for your day outings. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Stripes<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/everyday5.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Black Luxe Cape Enhancer Overlay</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Our black gusset, can be sported with activewear styled dresses, tees and jeans. 
            Made in a mesh net, with an embroidered pocket on one side, these gussets convert any
             ordinary look into a statement outfit. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Mesh<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/everyday6.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Denim Blue Ruffle Denim Dress With Waist Tie.  </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Ruffle Denim Dress With Waist Tie. A free size dress can be a
            chic and comfortable choice for your day outings.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/everyday7.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Black Shirt with Pleated Sleeves  </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Workwear neutrals get a chic update with this shirt crafted in linen featuring
             micropleat cuff detailing, classic point collars and a slightly rounded hem. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Linen<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/everyday8.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Black High Low Shirt  </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Whether its a Sunday brunch or a night out with the girls, our black high-low shirt
             is the perfect choice for any look! Style your look with flared denim jeans and gold 
             layered jewellery. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Satin<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/everyday9.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Black Asymmetric Ruffle Skirt  </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Equal parts glamorous and quirky, this ruffle asymmetric midi skirt is a must have 
            for your next night out! Style your look with a crop top and strappy heels and dance the 
            night away!</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Georgette<br>
            Pattern : Ruffled<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/everyday10.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Cherry Collared Tie Jumpsuit </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Equal parts quirky and fun, this cherry red collared tie-up jumpsuit is a must have 
            for your next Sunday brunch! Keep it simple yet elegant with a pair of hoop earrings and 
            layered necklaces for next outing with the girls</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Satin<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div><br><br>
{% endblock %}