{% extends "femalewears/westernwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block Sidebar %}
<h3><b><i>Western  Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                    <a href="{% url 'dresses' %}">
                    <h5>Dresses</h5></a>
                    <a href="{% url 'tops' %}">
                    <h5>Tops</h5></a>
                    <a href="{% url 'cardigans' %}">
                    <h5>Cardigans & Sweaters</h5></a>
                    <a href="{% url 'gowns' %}">
                    <h5>Gowns</h5></a>
                    <a href="{% url 'jackets' %}">
                    <h5>Jackets & Coats</h5></a>
                    <a href="{% url 'jumpsuits' %}">
                    <h5>Jumpsuits</h5></a>
                    <a href="{% url 'Skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'sweatshirts' %}">
                    <h5>Sweatshirts</h5></a>
                    <a href="{% url 'jeans' %}">
                    <h5>Jeans & Jeggings</h5></a>
                    <a href="{% url 'sets' %}">
                    <h5>Sets</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'Casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'Festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'Formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'Party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'Evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'Work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'Wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'Vacation' %}">
                    <h5>Vacations</h5></a>
                    <a href="{% url 'Cocktail' %}">
                    <h5>Cocktail</h5></a>
                    <a href="{% url 'Ethnic' %}">
                    <h5>Everyday Essential</h5></a>
                    <br>
                    
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'Solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'Printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'Floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'Stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'Checks' %}">
                    <h5>Checks</h5></a>
                    <a href="{% url 'Ruffled' %}">
                    <h5>Ruffled</h5></a>
                    <a href="{% url 'Embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/evenings1.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Black Count On Me Jumpsuit </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Black Polyester Knit Jumpsuit. Adjustable Shoulder Straps with a Sweetheart Neckline. 
            Straight leg silhouette. Zipper on the left side for fastening and ease.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/evenings2.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Pink Front Tie Shirt </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This pink shirt by Torqadorn is crafted in satin and features a collared neck, 
            button closure on the front, long sleeves, a tie-up detail on the front and a relaxed fit.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Satin<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/evenings3.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Ivory Dafodil Knee Length Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Featuring an ivory shift dress with the play of ghungroo at the front and enhanced
             with distinctive shades of yellow dories played at the waist belt giving a contemporary 
             yet modern outlook.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/evenings4.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Black You Got The Look Maxi Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Black Polyester Georgette Maxi Dress. Polyester Crepe Lining inside for comfort. 
            Fit & Flare Silhouette. Incut Strappy Sheer Neckline. Keyhole button at the back with a center 
            back zipper for fastening and ease.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/evenings5.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Black Grace The Lace Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Black Polyester Scuba Knit & Lace Dress. Fit and Flare Silhouette with lace on the top.
             High Neckline with keyhole button at the back for fastening and ease. Short Cap Lace Sleeves.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/evenings6.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Grey Foil Jumpsuit With Attached Mesh Cape </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Herald your arrival in the next wedding by wearing this grey layered jumpsuit.
             Featuring an attached mesh dupatta that has fringe lace. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Printed<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/evenings7.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Black Show Me Off Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Black Polyester Knit and Net Dress. Fit and Flare Silhouette. Net detailing at the neck
             yoke and waist for style. Short flared sleeves round neckline with a back button for fastening 
             and ease. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/evenings8.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Teal V Neck Flared Sleeves Long Dress With Camisole </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This blue maxi dress is crafted in viscose and georgette and features a V neck,
             half flared sleeves, a smocking detailing at the waist and an asymmetric hem. This dress 
             comes with a camisole featuring metallic stud embellishments on the yoke </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Viscose<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/evenings9.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Boat Neck Pleated Sheer Sleeve Top </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">One such style is this top in teal. It has a boat neck and quarter length sleeves with 
            pleats. The top has been crafted in lightweight poly crepe fabric while the sheer details are in 
            chiffon. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/evenings10.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Teal Wallflower Knee Length Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Midi dress with a cut-out detail. This make your wardrobe more stylish. 
            Team it with high heels. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/evenings11.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Maroon Double Placket Crepe Shirt Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This maroon shirt dress is crafted in polyester and features a mandarin collar neck, 
            long sleeves, a concealed front buttons placket, a curved hemline and a regular fit.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/evenings12.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Turquoise Strappy Cami Top </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Give your festive look a refreshing spin with this jade strappy cami top. Features
             layers and tiers to give your look an easy, romantic vibe. Pair the top with breezy skirt 
             for a fun sundowner.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div><br><br>
{% endblock %}