{% extends "femalewears/westernwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block Sidebar %}
<h3><b><i>Western  Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                    <a href="{% url 'dresses' %}">
                    <h5>Dresses</h5></a>
                    <a href="{% url 'tops' %}">
                    <h5>Tops</h5></a>
                    <a href="{% url 'cardigans' %}">
                    <h5>Cardigans & Sweaters</h5></a>
                    <a href="{% url 'gowns' %}">
                    <h5>Gowns</h5></a>
                    <a href="{% url 'jackets' %}">
                    <h5>Jackets & Coats</h5></a>
                    <a href="{% url 'jumpsuits' %}">
                    <h5>Jumpsuits</h5></a>
                    <a href="{% url 'Skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'sweatshirts' %}">
                    <h5>Sweatshirts</h5></a>
                    <a href="{% url 'jeans' %}">
                    <h5>Jeans & Jeggings</h5></a>
                    <a href="{% url 'sets' %}">
                    <h5>Sets</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'Casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'Festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'Formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'Party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'Evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'Work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'Wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'Vacation' %}">
                    <h5>Vacations</h5></a>
                    <a href="{% url 'Cocktail' %}">
                    <h5>Cocktail</h5></a>
                    <a href="{% url 'Ethnic' %}">
                    <h5>Everyday Essential</h5></a>
                    <br>
                    
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'Solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'Printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'Floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'Stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'Checks' %}">
                    <h5>Checks</h5></a>
                    <a href="{% url 'Ruffled' %}">
                    <h5>Ruffled</h5></a>
                    <a href="{% url 'Embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/festivals1.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/festivals1.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Mango Maxi Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This maxi dress has an scoop neckline with gold prints all ove rit and a pink border
             at the hemline. You can pair this with gold earrings. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/festivals2.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/festivals2.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Azmat Jacquard Shawl Collar Shrug </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This jacquard shawl collar shrug is crafted in soft c chanderi fabric making it very elegant.
             It is decorated with breathtaking embroidery to enhance the look. It is the perfect shrug for
              festive occasions.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Chanderi<br>
            Pattern : Embroidered<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/festivals3.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/festivals3.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Navy Blue Tier Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This flowy tier dress in navy blue has beautiful gathers. You can pair this with 
            bejewlled earrings.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/festivals4.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/festivals4.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Jacket Blouse </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This black blouse features is crafted in cotton. The button down detail on the front 
            with a midriff bearing relaxed sillouette make this a unique addition to your ethnic wardrobe.
             It features a dotted print, collared neckline and mid-length sleeves.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Embroiderded<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/festivals5.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/festivals5.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>White Crochet Angrakha Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">White grid pattern cotton angrakha dress with crochet lace highlight on neck, front bodice and sleeves.
             The dress has side zip for closure and 1 side pocket. It has lining through out.   </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/festivals6.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/festivals6.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Indowestern Blue, Silver & White Shirt & Skirt Set </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">The indowestern combo includes a flared metallic brocade like printed skirt with a 
            solid shirt having flared layered sleeves. This indowestern trend of shirt and skirt is here to 
            stay. This looks best when the shirt is tucked in. This 2 piece ready to wear set is a
             perfect party wear pick.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Crepe<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/festivals7.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/festivals7.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Tweet Pants </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">These pants by Ka-Sha are dual toned and clamp dyed. Pair them with your favourite tunic or top.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/festivals8.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/festivals8.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Pink Cotton Sufi Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Pink polyester cotton dress with green reverse box pleat at the center.
             Has golden piping highlight on neck, center and sleeve. Green piping at the hem and
              inner hem border. The dress is relax fit, has pockets and lining throughout.   </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton Silk<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/festivals9.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/festivals9.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Mustard Floral Coordinates </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">For a stunning festive look, accessorise with our blue enamel silver earrings and
             don a pair of navy beaded Kolhapuris.   </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Floral<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/festivals10.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/festivals10.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>White Mughal Frill Maxi Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This beautiful maxi by Ambraee has an intricate floral print with buttons, a shirt 
            collar and vertical stripes. You can style this with silver earrings.   </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/festivals11.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/festivals11.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Beige Striped Round Neck A-Line Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Beige and Navy Blue striped woven A-line dress, has a round neck, three-quarter 
            sleeves, and curved hem   </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Rayon<br>
            Pattern : Stripes<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/festivals12.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/festivals12.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Multi-Color Striped Round Neck A-Line Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">White and Beige striped A-line kurta, has a round neck, three-quarter sleeves, 
            and flared hem   </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Rayon<br>
            Pattern : Stripes<br>
            
            </p>
</div>
</div><br><br>
{% endblock %}