{% extends "femalewears/westernwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block Sidebar %}
<h3><b><i>Western  Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                    <a href="{% url 'dresses' %}">
                    <h5>Dresses</h5></a>
                    <a href="{% url 'tops' %}">
                    <h5>Tops</h5></a>
                    <a href="{% url 'cardigans' %}">
                    <h5>Cardigans & Sweaters</h5></a>
                    <a href="{% url 'gowns' %}">
                    <h5>Gowns</h5></a>
                    <a href="{% url 'jackets' %}">
                    <h5>Jackets & Coats</h5></a>
                    <a href="{% url 'jumpsuits' %}">
                    <h5>Jumpsuits</h5></a>
                    <a href="{% url 'Skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'sweatshirts' %}">
                    <h5>Sweatshirts</h5></a>
                    <a href="{% url 'jeans' %}">
                    <h5>Jeans & Jeggings</h5></a>
                    <a href="{% url 'sets' %}">
                    <h5>Sets</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'Casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'Festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'Formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'Party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'Evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'Work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'Wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'Vacation' %}">
                    <h5>Vacations</h5></a>
                    <a href="{% url 'Cocktail' %}">
                    <h5>Cocktail</h5></a>
                    <a href="{% url 'Ethnic' %}">
                    <h5>Everyday Essential</h5></a>
                    <br>
                    
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'Solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'Printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'Floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'Stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'Checks' %}">
                    <h5>Checks</h5></a>
                    <a href="{% url 'Ruffled' %}">
                    <h5>Ruffled</h5></a>
                    <a href="{% url 'Embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/formals1.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/formals1.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Ash Blazer </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Our beautifully tailored black blazer is an essential for every great workwear 
            wardrobe. Style yours with matching tailored pants and court heels.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/formals2.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/formals2.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Red Printed Hemline Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This red tassel tie-up dress by Global Desi is crafted in viscose with a printed 
            hemline. It features a round neckline and three quarter sleeves.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Viscose<br>
            Pattern : Printed<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/formals3.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/formals3.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Solid Shirt </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This black solid shirt is crafted in viscose and rayon and features a collar neck 
            with button fly in the front, long sleeves and has a regular fit. Pair this shirt with matching
             pants, stud earrings and heels for the perfect semi-formal look.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Viscose<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/formals4.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/formals4.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Maroon Solid Jumpsuit </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This maroon solid jumpsuit is crafted in polyester and features a collar neck, short sleeves,
             tie-up at the waist, ankle-length bottom style with slat pockets and has a regular fit. Pair this 
             jumpsuit with stud earrings and heels for the perfect semi-formal look.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Linen<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/formals5.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/formals5.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Wine Solid Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This burgundy maxi dress is crafted in cotton and features a round neck, flare sleeves 
            and a regular fit. Style it with delicate pearl necklace and heels to complete the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/formals6.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/formals6.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Premium Rose Gold Solid Shrug </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This stylish Shrug from Idalia will take your confident to next level.
             Pair it up with leggings or pants for a chic yet traditional look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Rayon<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/formals7.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/formals7.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Red Crop Tie-Up Shirt </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This red collared crop top by AND is crafted in polyester. It features full sleeves
             and is accented with front open buttons and tie-up detailing. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/formals8.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/formals8.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Solid Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This black stretchable dress by Cover Story is crafted in polyester and features a high 
            neck, short sleeves, a front zip fastening detail and a slim fit. Style this short dress with a pair
             of black boots and a chic sling bag to complete the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/formals9.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/formals9.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Beige Embellished Maxi Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Make a fashion statement in this beige maxi dress at meetings or evening events. 
             this dress with drop earrings and heels to complete the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Embellished/Sequined<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/formals10.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/formals10.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Women Green Casual Tunic </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This pink tunic is crafted in cotton and features 3/4th sleeves and a shirt
             collared neckline. Style this tunic with a pair trousers and juttis to create a cool and 
             casual outfit. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div><br><br>
{% endblock %}