{% extends "femalewears/westernwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block Sidebar %}
<h3><b><i>Western  Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                    <a href="{% url 'dresses' %}">
                    <h5>Dresses</h5></a>
                    <a href="{% url 'tops' %}">
                    <h5>Tops</h5></a>
                    <a href="{% url 'cardigans' %}">
                    <h5>Cardigans & Sweaters</h5></a>
                    <a href="{% url 'gowns' %}">
                    <h5>Gowns</h5></a>
                    <a href="{% url 'jackets' %}">
                    <h5>Jackets & Coats</h5></a>
                    <a href="{% url 'jumpsuits' %}">
                    <h5>Jumpsuits</h5></a>
                    <a href="{% url 'Skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'sweatshirts' %}">
                    <h5>Sweatshirts</h5></a>
                    <a href="{% url 'jeans' %}">
                    <h5>Jeans & Jeggings</h5></a>
                    <a href="{% url 'sets' %}">
                    <h5>Sets</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'Casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'Festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'Formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'Party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'Evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'Work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'Wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'Vacation' %}">
                    <h5>Vacations</h5></a>
                    <a href="{% url 'Cocktail' %}">
                    <h5>Cocktail</h5></a>
                    <a href="{% url 'Ethnic' %}">
                    <h5>Everyday Essential</h5></a>
                    <br>
                    
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'Solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'Printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'Floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'Stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'Checks' %}">
                    <h5>Checks</h5></a>
                    <a href="{% url 'Ruffled' %}">
                    <h5>Ruffled</h5></a>
                    <a href="{% url 'Embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/paties1.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/parties1.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>White Elegance In Sheer Lace Co-ordinates </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">It comes with a crop top featuring adjustable shoulder straps, a sweetheart neckline
             and a zip at the top. It also includes a pencil skirt with a concealed zipper on the left.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Patterned<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/paties2.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/parties2.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Pink Belt It Out Maxi Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Polyester knit lining inside for comfort. Adjustable shoulder straps with a square 
            neckline. Cut out at the back with a broad tie up belt for style. Thigh high slit for style.
             Concealed zipper on the left.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Georgette<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/paties3.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/parties3.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>White Paris Polka Dot Mini Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">With a touch of vintage charm, this playful polka dot mini dress is a playful and 
            pretty choice. We love it for parties with strappy black heels and tassel earrings.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Polka Dots<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/paties4.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/parties4.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Long Live The Bishop Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Crafted in black poly viscose knit and polyester knit lining, this dress features
             exaggerated full bishop sleeves in organza, an overlapping v-neckline with gathers on the side.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Knitted<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/paties5.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/parties5.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Retro In Style Top</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Crafted in polyester satin, this top is a one shoulder style with full sleeves. 
            It features an open slit cuff on the sleeves, a pleated flap layer on top and 
            an elasticated waistline for ease.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Satin<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/paties6.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/parties6.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Navy Blue Cutting Up The Choker Jumpsuit</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Navy Blue Polyester Knit Jumpsuit. Choker Neckline with V-cutout in the front and 
            centre back zipper for fastening and straight Legged Pants.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/paties7.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/parties7.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Navy Blue Tamara Ruched Midi Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">In a sophisticated silhouette, this navy blue ruched midi dress is perfect for
             corporate events or formal occasions. Style yours with drop earrings and stiletto heels 
             for a polished ensemble.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Patterned<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/paties8.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/parties8.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Green Looking Over My Shoulder Gown</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">A green one shoulder style gown with a fit and flare silhouette. It has a concealed 
            zipper on the side for fastening.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Georgette<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/paties9.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/parties9.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>White Only For You Shift Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Created in polyester lycra with a polyester knit lining, this short dress serves as
             the perfect blank slate - dress it up or down. It features a tube neckline, an elasticated back
              and a concealed zipper on the left for closure.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/paties10.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/parties10.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Mock Mini Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Elasticated at the waist, this wrap style bodice dress is filled with geometric design
             of sequin and beads. To hold the neckline it has an inside attached snap button.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Embellished/Sequined<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/paties11.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/parties11.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Navy Blue Shimmer Lace Mesh Party Gown</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Designed with V-neckline gaped with mesh, side zip and back loop button for easy wear
             this gown features fitted chest cups for a better fit. Style this gown with a pair of
              stiletto heels and super-sized earrings to complete the look.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Lace<br>
            Pattern : Embellished/Sequined<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/paties12.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/parties12.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Pink Stripes Crop Top</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This pink striped off- shoulder top by ONLY is crafted in polyester and features 
            balloon sleeves and a regular fit. Style this top with skirt or shorts for a party ready look.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Stripes<br>
            
            </p>
</div>
</div><br><br>
{% endblock %}