{% extends "femalewears/westernwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block Sidebar %}
<h3><b><i>Western  Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                    <a href="{% url 'dresses' %}">
                    <h5>Dresses</h5></a>
                    <a href="{% url 'tops' %}">
                    <h5>Tops</h5></a>
                    <a href="{% url 'cardigans' %}">
                    <h5>Cardigans & Sweaters</h5></a>
                    <a href="{% url 'gowns' %}">
                    <h5>Gowns</h5></a>
                    <a href="{% url 'jackets' %}">
                    <h5>Jackets & Coats</h5></a>
                    <a href="{% url 'jumpsuits' %}">
                    <h5>Jumpsuits</h5></a>
                    <a href="{% url 'Skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'sweatshirts' %}">
                    <h5>Sweatshirts</h5></a>
                    <a href="{% url 'jeans' %}">
                    <h5>Jeans & Jeggings</h5></a>
                    <a href="{% url 'sets' %}">
                    <h5>Sets</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'Casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'Festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'Formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'Party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'Evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'Work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'Wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'Vacation' %}">
                    <h5>Vacations</h5></a>
                    <a href="{% url 'Cocktail' %}">
                    <h5>Cocktail</h5></a>
                    <a href="{% url 'Ethnic' %}">
                    <h5>Everyday Essential</h5></a>
                    <br>
                    
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'Solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'Printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'Floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'Stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'Checks' %}">
                    <h5>Checks</h5></a>
                    <a href="{% url 'Ruffled' %}">
                    <h5>Ruffled</h5></a>
                    <a href="{% url 'Embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/vacation1.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/vacation1.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Den Cotton White Top</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This white top is made out of pure cotton and features a round neck, 3/4th kaftan 
            style sleeves and is fitted at the waist. Style this top with straight cut pants and mules.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Stripes<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/vacation2.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/vacation2.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Laura Resort Dress - White</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">The Laura Resort Dress Is A V-Neck Ivory Dress Crafted In Linen Cotton Blend.
            This Loose Silhouette Is Round Off With Hand Embroidered Berries At Skirt Hem. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Linen<br>
            Pattern : Pleated<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/vacation3.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/vacation3.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Multicolor Tulia Shirred Body Bardot Off Shoulder Top</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Make a statement in our bright multicolor floral bardot top with comfortable shirred
             bodice detail. We love it with linen separates or light-wash denim depending on the occasion. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Floral<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/vacation4.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/vacation4.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Cotton Linen Dungaree Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This black dress is crafted in cotton and features a square neck, adjustable shoulder
             straps with button fastening details, patch pockets and a regular fit. Style this dress with a
              pair of nude heels and statement accessories to complete the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/vacation5.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/vacation5.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Blue Thread Texture Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This blue khadi dress with thread texture embroidery has a round neck, long sleeves
             and an oversized fit. Wear this dress with drop earrings and heels to complete the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Khadi<br>
            Pattern : Embroidered<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/vacation6.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/vacation6.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Multi-Color Colour Block Knee Length Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Printed Color Block Midi Length Dress. 
            Wear this dress with drop earrings and heels to complete the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Sheer<br>
            Pattern : Pleated<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/vacation7.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/vacation7.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Pink Spicy Jackfruit Top With Drape Skirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This pink skirt and top printed set by Masaba is crafted in rapier cotton.
             The top features a V neck, long sleeves and a button detailing on the front. 
             The skirt features a drape detail and printed motifs all over. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/vacation8.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/vacation8.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Orange Gypsy Top</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Off shoulder pattern
            Cropped length
            Curved hemline
            Layered pattern
            Regular fit </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Viscose<br>
            Pattern : Printed<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/vacation9.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/vacation9.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Pink Caressa Tie Detail Flippy Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This pink floral printed dress by Forever New is crafted in viscose and features a
             surplice neck, shoulder straps, a wrap bodice with a side tie-up fastening, a side zip 
             fastening and a regular fit. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Viscose<br>
            Pattern : Floral<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/vacation10.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/vacation10.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Red off-Shoulder Top And Purple Slub Calf Length Pant Pair</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Pant - Purple slub canvas khadi calf length pant with elastic at the waist and elastic at the bottom
            <br>Top - Red off shoulder top with 3/4th sleeves</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/vacation11.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/vacation11.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Navy Blue Talita Crop Top And Skirt </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This navy blue crop top and skirt set by Notch Above Creations is crafted in cotton.
             The crop top is sleeveless and features a button detailing on the front. The skirt in this
              set features gathers around the waist and a button placket on the front.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/vacation12.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/vacation12.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Multi-Color Colorful Holiday Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This black and white floral printed dress is crafted in polyester and features a 
            boat neck, short sleeves, belt loops, self tie-up belt and a regular fit. 
            Style it with a pair of high heels and a chic sling bag to complete the look.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Printed<br>
           
            </p>
</div>
</div><br><br>
{% endblock %}