{% extends "femalewears/westernwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block Sidebar %}
<h3><b><i>Western  Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                    <a href="{% url 'dresses' %}">
                    <h5>Dresses</h5></a>
                    <a href="{% url 'tops' %}">
                    <h5>Tops</h5></a>
                    <a href="{% url 'cardigans' %}">
                    <h5>Cardigans & Sweaters</h5></a>
                    <a href="{% url 'gowns' %}">
                    <h5>Gowns</h5></a>
                    <a href="{% url 'jackets' %}">
                    <h5>Jackets & Coats</h5></a>
                    <a href="{% url 'jumpsuits' %}">
                    <h5>Jumpsuits</h5></a>
                    <a href="{% url 'Skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'sweatshirts' %}">
                    <h5>Sweatshirts</h5></a>
                    <a href="{% url 'jeans' %}">
                    <h5>Jeans & Jeggings</h5></a>
                    <a href="{% url 'sets' %}">
                    <h5>Sets</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'Casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'Festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'Formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'Party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'Evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'Work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'Wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'Vacation' %}">
                    <h5>Vacations</h5></a>
                    <a href="{% url 'Cocktail' %}">
                    <h5>Cocktail</h5></a>
                    <a href="{% url 'Ethnic' %}">
                    <h5>Everyday Essential</h5></a>
                    <br>
                    
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'Solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'Printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'Floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'Stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'Checks' %}">
                    <h5>Checks</h5></a>
                    <a href="{% url 'Ruffled' %}">
                    <h5>Ruffled</h5></a>
                    <a href="{% url 'Embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/weddings1.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/weddings1.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Brown Checked Round Neck A-Line Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Brown and Beige checked woven A-line dress, has a round neck, three-quarter sleeves,
             button closure, and curved hem The product comes with a fabric belt  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Rayon<br>
            Pattern : Checks<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/weddings2.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/weddings2.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Sleeve Crochet Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Black cotton modal full length dress with crochet lace highlight on sleeves.
             The dress has side zipper for closure, side pocket and lining on bodice.   </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton Silk<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/weddings1.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/weddings3.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Mud Pink Kurta White Flare Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Rose Quartz cotton chanderi with white cotton kurta-palazzo look 1 piece dress. 
            The dress is 1 piece but gives illusion of 2 piece outfit. It has crochet lace highlight
             on neck and sleeves.   </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Chanderi<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/weddings4.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/weddings4.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Beaded Embellishment Gown Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Featuring elegant beaded embellished details all over, this black gown dress makes an
             elegant pick to don for every location and occasion. Style this gown dress with a pair
              of high heels and stunning accessories to complete the look.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Embellished/Sequined<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/weddings5.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/weddings5.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Solid Rayon Top With Assymetrical Ruffle Sleeves</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This coral top by Fabnest is crafted in rayon. It features an asymmetrical hem and 
            is accented with a ruffle sleeve. Pair this piece with your favourite denims and a pair
             of juttis for an everyday ethnic look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Embellished/Sequined<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/weddings6.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/weddings6.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Beige Chanderi Cotton Chevron Skirt With Top</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Pure chanderi cotton Beige flared skirt with chevron pattern, wasitband, side
             zip for closure and lining inside. Team it with a top, high slit kurta or a kurta jacket </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material :Chanderi <br>
            Pattern : Printed<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/weddings7.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/weddings7.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Peach Bronze Border Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Orange cotton modal dress with bronze gold border on bottom hem. The outfit has side
             zipper for closure, 1 side pocket and lining through out.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : <br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/weddings8.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/weddings8.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Green Center Panel Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Green cotton chanderi straight dress with antique gold lace highlight at center panel 
            and sleeves. The outfit is relax fit, has 2 side pockets and lining through out.   </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Chanderi <br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/weddings9.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/weddings9.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>White Golden Crinkle Flare Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">White cotton dress with crinkle flare that has slight golden highlight.
             The dress has side zip for closure. It has lining through out. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton <br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/weddings10.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/weddings10.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b> Beige Taffeta Skirt And Crop Top</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Featuring elegant embroidered design details all over, this beige crop top and
             skirt set makes an elegant pick to don for weddings events and occasions. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Taffeta <br>
            Pattern : Solid/Plain And Embroidered<br>
           
            </p>
</div>
</div><br><br>
{% endblock %}