{% extends "femalewears/westernwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block Sidebar %}
<h3><b><i>Western  Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                    <a href="{% url 'dresses' %}">
                    <h5>Dresses</h5></a>
                    <a href="{% url 'tops' %}">
                    <h5>Tops</h5></a>
                    <a href="{% url 'cardigans' %}">
                    <h5>Cardigans & Sweaters</h5></a>
                    <a href="{% url 'gowns' %}">
                    <h5>Gowns</h5></a>
                    <a href="{% url 'jackets' %}">
                    <h5>Jackets & Coats</h5></a>
                    <a href="{% url 'jumpsuits' %}">
                    <h5>Jumpsuits</h5></a>
                    <a href="{% url 'Skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'sweatshirts' %}">
                    <h5>Sweatshirts</h5></a>
                    <a href="{% url 'jeans' %}">
                    <h5>Jeans & Jeggings</h5></a>
                    <a href="{% url 'sets' %}">
                    <h5>Sets</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'Casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'Festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'Formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'Party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'Evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'Work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'Wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'Vacation' %}">
                    <h5>Vacations</h5></a>
                    <a href="{% url 'Cocktail' %}">
                    <h5>Cocktail</h5></a>
                    <a href="{% url 'Ethnic' %}">
                    <h5>Everyday Essential</h5></a>
                    <br>
                    
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'Solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'Printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'Floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'Stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'Checks' %}">
                    <h5>Checks</h5></a>
                    <a href="{% url 'Ruffled' %}">
                    <h5>Ruffled</h5></a>
                    <a href="{% url 'Embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/works1.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Mauve Neck Tie Shirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This mauve shirt is crafted in crepe and features a tie-up detail on the neck,
             button closure on the front, long sleeves and a relaxed fit. Pair it with straight pants
             or short skirts and heels to create a statement look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Crepe<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/works2.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Maroon Contrasting Sleeve Tie Shift Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This maroon dress is crafted in polyester and features a boat neck, half sleeves with
             a tie-up detail, side pockets and micro slits on the sides. Pair it with heels
              and fine accessories to create a sharp work-ready look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/works3.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Powder Blue High-Low Shirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Comfort and style go hand in hand with this versatile high-low shirt. Designed in a
             Flared cambric cotton fabric to take you from day to night hassle free! Cinch it up at the
              waist with a matching detachable belt and style your look with a pair of white ripped 
              denim jeans and sneakers. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/works4.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>White Classic Collar Shirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This white shirt is crafted in polyester and features a collared neck, a 
            concealed placket, long sleeves and a relaxed fit.
             Pair it with trouser pants to complete the look.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/works5.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>White Top And Multi-Color Lorde Stripe Pant</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Made from cotton silk hand printed in blue stripes, these trousers are designed to
             sit high on your waist and have a straight- leg slim shape that tapers at the ankle 
             with side pockets and front opening details. Top is crafted in the super light and soft cotton mul, 
             this half button down shirt features a Chinese collar with pleat and printed detailing and
              3/4 puff sleeves finished with mother of pearl buttons on the cuffs. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Pleated & Stripes<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/works6.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Black Embroidered Blazer</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Highlight your propensity for polish with this structured black blazer. Crafted from 
            blended crepe fabric, detailed with embroidery on net at just the right places, this stunner
             is perfect for a casual evening out and swanky occasions alike. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Crepe<br>
            Pattern : Embellished/Sequined<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/works7.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Taupe Handkerchief Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">If high-low hems are your thing then this midi dress will have you swooning! 
            With faux leather detailing and a handkerchief hem, it is just what you needed to score 
            more fashion points. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Georgette<br>
            Pattern : Ruffled<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/works8.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Yellow Front Overlap Top And Paneled Peplum Skirt </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">A set of sleeveless cotton overlap top & knee length fully lined peplum skirt.
             The skirt has a zipper opening at the center back. The panels in the front give it a good fit. 
             There is cut & sew detail in the front enhanced with chawal-taka (handstitch) detail.
              The coordinated top has an A-line shape and fits well on the high hip. 
              The darts give it a nice fit. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/works9.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Purple Structured Blazer Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Every wardrobe is deserving of a stunning blazer dress—let this purple one.
             Crafted from buttery-soft banana crepe fabric that maintains a structured silhouette,
              this stylish piece offers classic lapels, front fabric button closures, finished pockets,
               and a plunging neckline. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Crepe<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/works10.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>V Neck Full Sleeve Solid Long Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This pink long kurta by Ritu Kumar is crafted in cotton and silk, semi-fitted and 
            features a V neck, 3/4th sleeves and a tie up detail at the back. Team this kurta with heels
             and fine jewellery to create a trendy look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/works11.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Red Demi Red Drape Jumpsuit</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This dramatic jumpsuit is sure to turn heads. Hand block printed paisleys on a bold 
            red base, this jumpsuit is easy to wear, falls like a dream and is as versatile as you are.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/works12.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Off White Gloria Pask</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This pask offers the sharpness of a pant with the comfort of a skirt. These hand block
             printed wrap pants are a summer staples as it drapes like a dream and loves all body types.
              Style this with a basic tank top and high heels to complete the look.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div><br><br>
{% endblock %}