{% extends "femalewears/indianwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block sidebar %}
<h3><b><i>Indian Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                        <a href="{% url 'blouse' %}">
                        <h5>Blouse</h5></a>
                        <a href="{% url 'kurtikurta' %}">
                        <h5>Kurtis Kurtas & Tunics</h5></a>
                        <a href="{% url 'lehenga' %}">
                        <h5>lehengas</h5></a>
                        <a href="{% url 'salwarsuit' %}">
                        <h5>Salwar Suit</h5></a>
                        <a href="{% url 'saree' %}">
                        <h5>Sarees</h5></a>
                        <a href="{% url 'dupattas' %}">
                        <h5>Dupattas</h5></a>
                        <a href="{% url 'ethnicdress' %}">
                        <h5>Ethnic Dress</h5></a>
                        <a href="{% url 'ethnicjackets' %}">
                        <h5>Ethnic Jackets</h5></a>
                        <a href="{% url 'bottoms' %}">
                        <h5>Bottoms</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'vacations' %}">
                    <h5>Vacations</h5></a>
                    <br>
                    <p><i><u><b>Types</b></u></i></p>
                    <a href="{% url 'pants' %}">
                    <h5>Pants</h5></a>
                    <a href="{% url 'skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'leggings' %}">
                    <h5>Leggings</h5></a>
                    <a href="{% url 'churidars' %}">
                    <h5>Churidar</h5></a>
                    <a href="{% url 'dhotis' %}">
                    <h5>Dhotis</h5></a>
                    <a href="{% url 'plazzos' %}">
                    <h5>Palazzos</h5></a>
                    <a href="{% url 'shararas' %}">
                    <h5>Sharara</h5></a>
                    <br>
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'mirror' %}">
                    <h5>Mirror Work</h5></a>
                    <a href="{% url 'stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'checks' %}">
                    <h5>Checks</h5></a>
                    
                    <a href="{% url 'embroidered' %}">
                    <h5>Embroidered</h5></a>
{% endblock %}
{%  block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/formal1.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/formal1.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Grey Print Kurta With Baby Pink Printed Palazzo Pants  </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Baby pink grey printed straight kurta having a mandarin collar,3 quarter sleeves
             & a pair of printed palazzo pants </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
            Type : Kurta Sets<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/formal2.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/formal2.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Fuschia Floral Embroidered Tunic </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This shirt by AM:PM is crafted in georgette. It features a fuschia hue with embroidery work. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Georgette<br>
            Pattern : Solid/Plain<br>
            Type : Kurta Sets<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/formal3.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/formal3.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Grey Prolific Hand Block Cotton Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Soft, flowy grey cotton midi dress that has been hand block printed with
             beautiful flower motifs. The dress has a mandarin neck, 3/4th sleeves, a flared fit
              and is loaded with mother of pearl buttons and a belt as an additional touch to it. 
              It is perfect for your weekend getaways and dates. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
            Type of work : Printed<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/formal4.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/formal4.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Emerald Green High-Low Tunic</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This emerald coloured tunic by AND is crafted in polyester.
             It features a high-low hemline and cap sleeves. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            Type : Tunics<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/formal5.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/formal5.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Maroon Keyhole Neck Tiered Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Make a statement anywhere you go with this maroon maxi dress.
             Pair this dress with drop earrings and heels to complete your ethnic look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Viscose<br>
            Pattern : Embellished/Sequined<br>
            Type of work : Embellished/Sequined<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/formal6.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/formal6.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Navy Blue Mandarin Neck Gathered Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Navy Blue mandarin neck printed gathered dress with side dori tie-ups.
            Wear it with pink dupatta and peep-toes for a chic festive look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
            Type : Midi<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/formal7.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/formal7.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Saira Saree With Blouse</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Accented with hand-embroidered mirror details and an ajrakh border detail with fancy 
            tassels on pallu, this black saree from Palash comes with an unstitched blouse piece </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Mul<br>
            Pattern : Mirror Work<br>
            Type of work : Mirror Work<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/formal8.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/formal8.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Anarkali Tunic</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This black tunic by Idalia is crafted in cotton and features a mandarin neck,
             3/4th sleeves, a flared silhouette and a regular fit. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
            
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/formal9.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/formal9.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Maroon Drift Cotton Hand Block Printed Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">A relaxed sleeveless midi dress made from an earthy maroon cotton fabric block 
            printed with cute cycle motifs. Okhai finishing touches like beadwork on the motifs and pockets
             for your essentials make it special. Wear it as is for spring-summer or layer it for 
             fall-winter.. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
            
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/formal10.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/formal10.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Vibe White Embroidered Ikat Top</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">A smart Ikat weave in white and greys designed into a unique top with winged sleeves.
             The Ikat weave has been contrasted with subtle knot embroidery to add that Okhai touch.
              Pair this unique top with pants, skirts or shorts. You can even wear
               it as a trendy saree blouse. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
            Type of Work : Ikat
            
            </p>
</div>
</div><br><br>
{% endblock %}