{% extends "base.html" %}
{% load static %}
{% block content %}


  
  <section class="mx-auto">
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner" >
      <div class="carousel-item active" >
        <img src="{% static 'img/oops.jpg' %}" alt="Blog">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/oops.jpg' %}" alt="Blog">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/oops.jpg' %}" alt="Blog">
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>
  </section><br><br>

  <center>  <h1><b><i>Top Street Style Outfits From London Fashion Week </i></b></h1></center>
  <br><br>
  <div class="container-fluid ">
  <div class="row mx-auto">
    <div id="code" class="col-md-6 text-justify">
        <div class="thumbnail ">
            
            <p> London Fashion Week takes place twice a year in February and September, 
                showcasing over 250 designers to a global audience of influential media and retailers. 
                It is estimated that orders of over £100m are placed during LFW each season.
 
                Go behind-the-scenes of the London Fashion Week Hub to discover an immersive innovative experience which
                includes Designer Catwalks; Creative Installations; the DiscoveryLAB: 
                an experiential space where fashion meets art, technology and music and a #PositiveFashion Designer
                 Exhibition where the creative work of progressive designers explores the most compelling stories around
                  sustainability, community and ethics.
                 
                If you’re a business or retailer, sign up to participate in the City-Wide Celebration and be part of 
                something new - a celebration of fashion, community, diversity and creativity in the heart of the most 
                vibrant city in the world, London.
          </p>
        </div>  
      </div> 

 <div id="type" class="col-md-6 text-justify " >
     <div class="thumbnail">
         <img src="{% static 'img/coat.jpg' %}" alt="lights" >
      </div>
  </div>
</div>  
</div> 
<br>
<div class="containe-fluid">
<div class="row mx-auto">
   <div id="count" class="col-md-6 text-justify ">
       <div class="thumbnail">
          <img src="{% static 'img/coat1.jpg' %}" alt="lights" >
       </div>
   </div>
   <div id="code" class="col-md-6 text-justify ">
       <div class="thumbnail">
           <p>
            Today you may be likely to find less of the extremely diverse underground tribes that this cultural 
            hub has always been famed for, but there are still style factions present 
            (and many that we draw great inspiration from). 
            London's a place where you can wear your wackiest outfit to breakfast and no one will bat an eyelid. 
            However, it's also a place where you can be ultra-chic and businesslike one day and trend-led the next. 
            Your style can be whatever it wants to be at any given time. And it's true—Brits really do give good outfit
             inspiration 24/7.

          That's why we're bringing a new instalment each month of true London street style to Who What Wear UK. 
           We've just seen the tail-end of what feels like the last burst of heat, and as such,there's a 
           definite swing toward winter styling, with statement boots and where-did-you-get-that jackers.
           </p>
       </div>
   </div>
</div>
</div>  
<br><br>
<div class="container-fluid">
<div class="row mx-auto">
   <div id="code" class="col-md-6 text-justify ">
        <div class="thumbnail">
       
       <p>There are certain items (often from Zara) that I see women wearing almost every day on my commute. 
           There have even been Instagram accounts set up in order to showcase these cult pieces, such as that
            Zara dress. I did some thorough research to discover the most-spotted items this month
             (i.e., I asked the Who What Wear UK office and put the question into all my WhatsApp groups) 
             to see which pieces were the most popular in London. It quickly became clear that there are som
             e high-street hits you're bound to see in any office or Underground station in the capital. 
           In fact, you might already own some of them.
           In the summer, it was almost impossible to walk down the street without bumping into someone wearing 
           that Zara dress, beloved for its cool, low-maintenance appeal. 
           The throw-on-and-go dress has consequently exploded onto the high street, with everyone from Arket 
           to Topshop creating their own iterations. 
       
     </p>
   </div>  
 </div> 

<div id="take" class="col-md-6 text-justify ">
<div class="thumbnail">
    <img src="{% static 'img/coat2.jpg' %}" alt="lights" >
 </div>
</div>
</div> 
</div>  
<br><br>



  {% endblock%}