{% extends "femalewears/indianwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block sidebar %}
<h3><b><i>Indian Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                        <a href="{% url 'blouse' %}">
                        <h5>Blouse</h5></a>
                        <a href="{% url 'kurtikurta' %}">
                        <h5>Kurtis Kurtas & Tunics</h5></a>
                        <a href="{% url 'lehenga' %}">
                        <h5>lehengas</h5></a>
                        <a href="{% url 'salwarsuit' %}">
                        <h5>Salwar Suit</h5></a>
                        <a href="{% url 'saree' %}">
                        <h5>Sarees</h5></a>
                        <a href="{% url 'dupattas' %}">
                        <h5>Dupattas</h5></a>
                        <a href="{% url 'ethnicdress' %}">
                        <h5>Ethnic Dress</h5></a>
                        <a href="{% url 'ethnicjackets' %}">
                        <h5>Ethnic Jackets</h5></a>
                        <a href="{% url 'bottoms' %}">
                        <h5>Bottoms</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'vacations' %}">
                    <h5>Vacations</h5></a>
                    <br>
                    <p><i><u><b>Types</b></u></i></p>
                    <a href="{% url 'pants' %}">
                    <h5>Pants</h5></a>
                    <a href="{% url 'skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'leggings' %}">
                    <h5>Leggings</h5></a>
                    <a href="{% url 'churidars' %}">
                    <h5>Churidar</h5></a>
                    <a href="{% url 'dhotis' %}">
                    <h5>Dhotis</h5></a>
                    <a href="{% url 'plazzos' %}">
                    <h5>Palazzos</h5></a>
                    <a href="{% url 'shararas' %}">
                    <h5>Sharara</h5></a>
                    <br>
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'mirror' %}">
                    <h5>Mirror Work</h5></a>
                    <a href="{% url 'stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'checks' %}">
                    <h5>Checks</h5></a>
                    
                    <a href="{% url 'embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/lehenga1.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/lehenga1.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Raspberry Pink Embroidered Lehenga With Cutwork Mirror Blouse </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This pink lehenga set by Arpita Mehta comes with a blouse and lehenga The lehenga is
             crafted in organza and features motto butti hand embroiderd with mirror work.
            The blouse is crafted in net and features a sweetheart neck with motto butti work and cowrie fringes</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Organza<br>
            Pattern : Embroidered<br>
            Type : Bridal Lehengas</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/lehenga2.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/lehenga2.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Mustard Gotapatti Blouse With Lehenga & Dupatta </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This yellow rani hand block gotapatti lehenga set by Aachho is crafted in cotton and comes attached with a chiffon dupatta. 
            Featuring a hand block print all over, a heart shape neckline, half sleeves.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
            Type : Classic Lehengas</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/lehenga3.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/lehenga3.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Multicolor Zari Woven Lehenga And Choli With Dupatta </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Mimosa has crafted this lehenga choli to celebrate a blend of tradition and style. While the deep colours and 
            extensive zari add to the overall richness, the modern cut makes it apt for a contemporary woman</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Shimmer<br>
            Pattern : Zari<br>
            Type : Classic Lehengas</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/lehenga4.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/lehenga4.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Blue Multiprint Lehenga Set With Dupatta </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This blue lehenga set by Ambraee is crafted in cotton and comes with a matching blouse and a
             blue dupatta. The blouse features a round neck, 3/4th flared sleeves, a deep back with dori tie-up
              fastening details, printed details all over and a regular fit. The lehenga features a mid-rise waistband, 
            a dori tie-up waist, printed details all over, a wide border detail on hemline and a comfortable fit</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
            Type : Classic Lehengas</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/lehenga5.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/lehenga5.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Brown Brocade Lehenga With Blouse</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This brown lehenga set by kaanchie nanggia is crafted in brocade. 
            The blouse features a boat neck, short sleeves and floral motifs all over. 
            The lehenga features a drawstring closure at the waist and floral motifs all over</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Brocade<br>
            Pattern : Floral<br>
            Type of work : Zari<br>
            Type : Classic Lehengas</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/lehenga6.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/lehenga6.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Purple Tier Lehenga With Blouse And Dupatta</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Make an alluring statement with this stunning purple lehenga set from Simrat Marwah that features
             a cropped blouse accented with embroidery details and an embellished lehenga and a dupatta</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Georgette<br>
            Pattern : Embellished/Sequined<br>
            Type of work : Embellished & Sequined<br>
            Type : Fusion Lehengas</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/lehenga7.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/lehenga7.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Maroon Embellished Lehenga With Blouse & Dupatta</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Biba Maroon Embellished Lehenga With Blouse & Dupatta</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Embellished/Sequined<br>
            Type : Classic Lehengas</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/lehenga8.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/lehenga8.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Golden Beige Lehenga Set With Purple Banarasi Dupatta</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Golden beige zari weaved full flared lehenga paired with a beige blouse with bordered 
            sleeves and purple banarasi dupatta. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Silk<br>
            
            Type : Classic Lehengas</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/lehenga9.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/lehenga9.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Ombre Lehenga, Choli & Tassel Cape</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Ivory & Yellow Ombre Lehenga Choli Set Hand Embroidered With Iznik Art Inspired Motifs In 
            Thread & Dull Gold Sequins. 
            This Set Comes With Silk Tissue Cape Hand Embroidered To Perfection With Multi Colored Hand-Made Tassels. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Chanderi<br>
                       Pattern : Embellished/Sequined<br>
                       Type of work : Tassels<br>   
                       Type : Classic Lehengas</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/lehenga10.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/lehenga10.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Maroon Chikankari Lehenga Choli With Dupatta</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Make a lasting impression with this lehenga set. The Maroon chikankari lehenga choli with preetiest duptta. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Rayon<br>
                       Pattern : Embellished/Sequined<br>
                       Type of work : Embellished & Sequined<br>   
                       Type : Classic Lehengas</p>
</div>
</div>
<br><br>
{% endblock %}
