{% extends "femalewears/indianwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block sidebar %}
<h3><b><i>Indian Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                        <a href="{% url 'blouse' %}">
                        <h5>Blouse</h5></a>
                        <a href="{% url 'kurtikurta' %}">
                        <h5>Kurtis Kurtas & Tunics</h5></a>
                        <a href="{% url 'lehenga' %}">
                        <h5>lehengas</h5></a>
                        <a href="{% url 'salwarsuit' %}">
                        <h5>Salwar Suit</h5></a>
                        <a href="{% url 'saree' %}">
                        <h5>Sarees</h5></a>
                        <a href="{% url 'dupattas' %}">
                        <h5>Dupattas</h5></a>
                        <a href="{% url 'ethnicdress' %}">
                        <h5>Ethnic Dress</h5></a>
                        <a href="{% url 'ethnicjackets' %}">
                        <h5>Ethnic Jackets</h5></a>
                        <a href="{% url 'bottoms' %}">
                        <h5>Bottoms</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'vacations' %}">
                    <h5>Vacations</h5></a>
                    <br>
                    <p><i><u><b>Types</b></u></i></p>
                    <a href="{% url 'pants' %}">
                    <h5>Pants</h5></a>
                    <a href="{% url 'skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'leggings' %}">
                    <h5>Leggings</h5></a>
                    <a href="{% url 'churidars' %}">
                    <h5>Churidar</h5></a>
                    <a href="{% url 'dhotis' %}">
                    <h5>Dhotis</h5></a>
                    <a href="{% url 'plazzos' %}">
                    <h5>Palazzos</h5></a>
                    <a href="{% url 'shararas' %}">
                    <h5>Sharara</h5></a>
                    <br>
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'mirror' %}">
                    <h5>Mirror Work</h5></a>
                    <a href="{% url 'stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'checks' %}">
                    <h5>Checks</h5></a>
                    
                    <a href="{% url 'embroidered' %}">
                    <h5>Embroidered</h5></a>
{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/saree1.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/saree1.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Green Charismatic Georgette Ruffled Saree</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Monjolika fashion presents green and black georgette plain saree with layered ruffles attached to the saree.
             Comes with matching black dhupion silk blouse.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Georgette<br>
            Pattern : Ruffled<br>
            Occasion : Festive</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/saree2.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/saree2.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Ishin Chanderi Gadhwal Green With Golden Zari Woven Saree</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This green striped saree by Ishin is crafted in chanderi 
            silk and features golden zari woven design details around the border and a contrast colour pallu.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Chanderi<br>
            Pattern : Stripes<br>
            Type of work : Zari<br>
            Occasion : Festive</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/saree3.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/saree3.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Pink Organza Silk Concept Saree With Lace Bustier And Silk Jacket</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This pink saree by Masaba is crafted in organza silk and comes with a lace bustier and a lilac 
            glossy eden printed organza silk jacket. 
            The jacket features an open front, long sleeves, a curved hemline and a regular fit.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Organza<br>
            Pattern : Embellished/Sequined<br>
            Occasion : Festive</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/saree4.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/saree4.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Green Pure Silk Georgette Banarasi Saree </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This green saree by Via East is crafted in georgette and features gold zari 
            details in floral motifs all over and a contrast colour border accented with gold zari details.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Georgette<br>
            Pattern : Floral<br>
            Type of work : Zari<br>
            Occasion : Festive</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/saree5.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/saree5.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Beige Embroidered Saree & Blouse With Dhoti</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This beige blouse and dhoti pant set is crafted in cotton lurex. 
            The blouse features a round neck, short sleeves.
            The dhoti pants feature a mid-rise waist, an elasticated waistband, 
            a draped pallu detail and a regular fit.
        </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton Lurex<br>
            Pattern : Embroidered<br>
            Occasion : Festive</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/saree6.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/saree6.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Orange Leheriya Bandhani Saree</b></p>
    </div>
    <div id="saree3" class="col-md-8">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This orange bandhani saree by Geroo Jaipur is crafted in chiffon, features leheriya art all over, 
            golden gota border, pink magzee all around and comes along with an orange blouse piece
        </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Chiffon<br>
            Pattern : Printed<br>
            Type of work : Leheriya<br>
            Occasion : Festive</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/saree7.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/saree7.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Grey Kanjivaram Style Tussar Silk Saree</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Traditional Saree,With Woven Zari Butty All Over,Has Zari woven border and pallu ,
            Comes With Grey Color
        </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Silk<br>
            Pattern : Embellished/Sequined<br>
            Type of work : Zari<br>
            Occasion : Festive</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/saree8.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/saree8.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Red Berry Kota Saree </b></p>
    </div>
    <div id="saree3" class="col-md-8">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This red saree by Bunaai is crafted in cotton and features a printed detailing all over.
        </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
            Type of work : printed<br>
            Occasion : Festive</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/saree9.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/saree9.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Pink Pure Chiffon Hand Painted Saree </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This red hand painted saree by Geroo Jaipur is crafted in chiffon and features peacock motifs all over.
        </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Chiffon<br>
            Pattern : Animal Print<br>
            Type of work : Block print<br>
            Occasion : Party</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/saree10.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/saree10.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Bottle Green Satin Saree </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This bottle green sari by Mandira Bedi is crafted in satin silk and features
             double grey net inlay accented with sequins details and a red border running all through the sari.
        </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Satin<br>
            Pattern : Embellished/Sequined<br>
            Type of work : Embellished & Sequined<br>
            Occasion : Wedding</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/saree11.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/saree11.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Olive Art Silk Solid Fringe Saree </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This olive saree by Inddus is crafted in silk.
            The saree features fringe details all around the edges and makes an elegant addition to your ethnic wardrobe.
        </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Silk<br>
            Pattern : Solid/Plain<br>
            Occasion : Party</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/saree12.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/saree12.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Pink Kota Doria Gota Work Saree </b></p>
    </div>
    <div id="saree3" class="col-md-8 ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Features Pink kota doria saree for a comfy summer. This kota saree is further embellished with gota work and zari border all around. 
            It comes with a matching blouse piece in kota fabric only
        </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Kota<br>
            Pattern : Gota Work<br>
            Type of work : Gota<br>
            Occasion : Party</p>
</div>
</div><br>

{% endblock %}