.filters .row {
        background:url("../img/img.jpg");
        box-shadow: 5px 5px 5px 0px #D3D3D3;
        
  
}
#saree img{
    width:100%;
    max-height:300px;
    min-height:300px;
    margin-top: 80px;
    object-fit: cover;
    
    
    
    
  }
  #saree p{
    font-size:20px;
    font-family: 'Times New Roman', Times, serif;
    padding-top:4px;
    
  }
  
  #saree3 h3{
    font-family: 'Times New Roman', Times, serif;
    font-weight:700;
  }
  #saree3 {
      padding-top: 80px;
      
  }