{% extends "femalewears/indianwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block sidebar %}
<h3><b><i>Indian Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                        <a href="{% url 'blouse' %}">
                        <h5>Blouse</h5></a>
                        <a href="{% url 'kurtikurta' %}">
                        <h5>Kurtis Kurtas & Tunics</h5></a>
                        <a href="{% url 'lehenga' %}">
                        <h5>lehengas</h5></a>
                        <a href="{% url 'salwarsuit' %}">
                        <h5>Salwar Suit</h5></a>
                        <a href="{% url 'saree' %}">
                        <h5>Sarees</h5></a>
                        <a href="{% url 'dupattas' %}">
                        <h5>Dupattas</h5></a>
                        <a href="{% url 'ethnicdress' %}">
                        <h5>Ethnic Dress</h5></a>
                        <a href="{% url 'ethnicjackets' %}">
                        <h5>Ethnic Jackets</h5></a>
                        <a href="{% url 'bottoms' %}">
                        <h5>Bottoms</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'vacations' %}">
                    <h5>Vacations</h5></a>
                    <br>
                    <p><i><u><b>Types</b></u></i></p>
                    <a href="{% url 'pants' %}">
                    <h5>Pants</h5></a>
                    <a href="{% url 'skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'leggings' %}">
                    <h5>Leggings</h5></a>
                    <a href="{% url 'churidars' %}">
                    <h5>Churidar</h5></a>
                    <a href="{% url 'dhotis' %}">
                    <h5>Dhotis</h5></a>
                    <a href="{% url 'plazzos' %}">
                    <h5>Plazazos</h5></a>
                    <a href="{% url 'shararas' %}">
                    <h5>Sharara</h5></a>
                    <br>
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'mirror' %}">
                    <h5>Mirror Work</h5></a>
                    <a href="{% url 'stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'checks' %}">
                    <h5>Checks</h5></a>
                    
                    <a href="{% url 'embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/churidar1.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/churidar1.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Gold Solid Art Silk Churidar</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">A golden churidar featuring elasticated waist and drawstring. 
            The color and a touch of shimmer making it a perfect pairing option for your festive kurtas.
             Featuring elasticated waist it assures fine grip and also makes if a easy to wear 
             and easy to remove piece. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/churidar3.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/churidar3.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Peach Floral Kurta With Churidar And Dupatta  </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">A gorgeous pick for your summer wardrobe. It is a peach colored floral suit set, 
            which includes a kurta, matching churidar and printed dupatta. It's a cotton made
             piece with knitted churidar.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Floral<br>
            Type of Work : Block Print
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/churidar4.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/churidar4.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Wild Mint Kurta With Churidar  </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Give yourself a touch of freshness in this season, the Wild Mint Cotton
             Kurta Set offers a respite from the warmth. With 3/4th sleeves and a collared neckline,
              this designer kurta can be worn with tight matching pants  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/churidar2.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/churidar2.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Peach Solid Kurta With Attached Dupatta & Churidar   </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Redefine festive look with this very gorgeous saree kurta by biba.
             It is a set of a very stylish kurta and churidar matching color. Kurta comes
              featuring a designer drape and highlighted with leaf and floral embroidery on the yoke  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            Type of Work : Embroidered
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/churidar5.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/churidar5.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Red Kurta With Churidar And Embroidered Jacket  </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">It is a set of three, which includes a smart shrug, matching inner and churidar.
         Churidar comes in solid texture, inner comes in matching color and shrug comes with intricate 
         embroidery and Sitara work.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Embroidered<br>
            Type of Work : Embroidered
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/churidar6.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/churidar6.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Anarkali & Silk Crop Top With Churidar & Chiffon Dupatta   </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This black embellished kurta, churidar pants and dupatta set by Simrat Marwah
             is crafted in organza. The kurta features a notch neck, long sheer sleeves and comes with a 
             crop top.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Organza<br>
            Pattern : Embellished/Sequined<br>
            Type of Work : Embellished & Sequined
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/churidar7.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/churidar7.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Pink Asymmetric Embroidered Kurta With Churidar   </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This pink kurta is crafted in silk features a notch neck, 3/4th sleeves,
             an asymmetrical hemline, embroidery details all over and a regular fit. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Silk<br>
            Pattern : Embroidered<br>
            Type of Work : Embroidered
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/churidar8.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/churidar8.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Off White Solid Kurta With Churidar & Shrug    </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">The set combines an A line kurta, matching churidar and printed shrug.
             Shrug comes featuring abstract print mixed with animal print. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div><br><br>
{% endblock %}