{% extends "femalewears/indianwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block sidebar %}
<h3><b><i>Indian Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                        <a href="{% url 'blouse' %}">
                        <h5>Blouse</h5></a>
                        <a href="{% url 'kurtikurta' %}">
                        <h5>Kurtis Kurtas & Tunics</h5></a>
                        <a href="{% url 'lehenga' %}">
                        <h5>lehengas</h5></a>
                        <a href="{% url 'salwarsuit' %}">
                        <h5>Salwar Suit</h5></a>
                        <a href="{% url 'saree' %}">
                        <h5>Sarees</h5></a>
                        <a href="{% url 'dupattas' %}">
                        <h5>Dupattas</h5></a>
                        <a href="{% url 'ethnicdress' %}">
                        <h5>Ethnic Dress</h5></a>
                        <a href="{% url 'ethnicjackets' %}">
                        <h5>Ethnic Jackets</h5></a>
                        <a href="{% url 'bottoms' %}">
                        <h5>Bottoms</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'vacations' %}">
                    <h5>Vacations</h5></a>
                    <br>
                    <p><i><u><b>Types</b></u></i></p>
                    <a href="{% url 'pants' %}">
                    <h5>Pants</h5></a>
                    <a href="{% url 'skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'leggings' %}">
                    <h5>Leggings</h5></a>
                    <a href="{% url 'churidars' %}">
                    <h5>Churidar</h5></a>
                    <a href="{% url 'dhotis' %}">
                    <h5>Dhotis</h5></a>
                    <a href="{% url 'plazzos' %}">
                    <h5>Palazzos</h5></a>
                    <a href="{% url 'shararas' %}">
                    <h5>Sharara</h5></a>
                    <br>
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'mirror' %}">
                    <h5>Mirror Work</h5></a>
                    <a href="{% url 'stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'checks' %}">
                    <h5>Checks</h5></a>
                    
                    <a href="{% url 'embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/pants1.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/pants1.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Cotton Narrow Pant</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Janasya Women's Black Plain Cotton Narrow Pant With Partially Elasticed </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/pants2.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/pants2.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Women's Mustard Poly Crepe Kurta With Pant </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This mustard kurta and pants set by Janasya is crafted in crepe.
             The kurta features a round neck, flared half sleeves and a printed detailing all over.
              The pants feature a partially elasticated closure. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Crepe<br>
            Pattern : Printed<br>
            Type of Work : Block Print
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/pants3.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/pants3.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Navy Blue Solid Cotton Kurta With Pant & Dupatta </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This kurta set is a must-have in your ethnic wear collection.
             Pair it with minimal accessories and juttis to create a statement look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/pants5.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/pants5.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Purple Solid Straight Cotton Cambric Pant </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Slay the look by wearing these purple pants.
             Pair them with a kurta, a cami top or a tunic and heels to complete the look.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/pants6.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/pants6.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Navy Blue Straight Kurta With Pant </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">The kurta features a mandarin collar neck, 3/4th sleeves, front buttons placket,
             side slits and a regular fit. The pants feature a mid-rise waist, a cropped length and a 
             regular fit. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern :Printed<br>
            Type of Work : Block Print
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/pants7.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/pants7.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Kurta With Palazzo Pants </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Black straight kurta with round v neck, pin tuck detail on shoulders,
            Three-quarter sleeve, u shaped hem. Comes with palazzo pants </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Rayon<br>
            Pattern : Solid/Plain<br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/pants8.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/pants8.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Mustard Mughal Butta Straight Kurta With Pant  </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">The Mughal butta work makes it pleasing to the eyes while the good quality
             fabric makes it easy to maintain and is comfortable to wear all day long. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern :Floral<br>
            
            </p>
</div>
</div><br><br>
{% endblock %}