{% extends "base.html" %}
{% load static %}
{% block content %}

<div id="ok" class="container-fluid">

  
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
<p><i> About Us</p></i>
</div>
<br>
<center>
    <div id="about" class="container">
    <img src="{% static 'img/60-giphy-35.gif' %}" class="mx-auto d-block">
    <b><i><p>our mission</p></i></b>
    <div class="row">
        <div id="hey" class="col-md-6 text-justify">
            <div class="thumbnail">
                <img src="{% static 'img/h.jpg' %}" alt="Lights" style="width:100%">
            </div><br>
            <p><b><i>let it be unique for all </i></b></p>
            <h4>In order for this project to be one of a kind, we hired top professionals to help our 
                clients with their vision! All you need to do is book an appoint with us! We will dress you
                beautifully which satisfy you and make you happy.
                We guarantee that this will be a unique and unforgettable experience for all of us! </h4>
        </div><br>
        <div id="why" class="col-md-6 text-justify">
            <div class="thumnails">
                <img src="{% static 'img/k.jpg' %}" alt="lights" style="width:100%">
            </div><br>
            <p><b><i> not just fashion, but memories </i></b></p>
            <h4>Fashion Point  is the place where u get many choices of latest trend. 
                Our main goal is to facilitate people with all the necessary informations to make their experience 
                with Fashion Point a unique and memorable journey. 
                Here at Styling, we don't simply create looks - we create memories!</h4><br><br><br>
                
                    
                        <img src="{% static 'img/hlw.jpg' %}" alt="lights" style="width:100%">
                    

            
        </div>
  </div>  
</div>
</center>
<br>
<br>



 {% endblock%} 