{% extends "base.html" %}
{% load static %}
{% block content %}

<div id="blog" class="container-fluid text-white mx-auto">
  
  
  <br><br><br><br><br><br><br><br><br><br><br><br><br>
<p><i> Blog</p></i>
</div>
<br>
<br>
<div class="row mx-auto">
    <div id="lol" class="col-md-6 text-justify">
        <div class="thumbnail">
            <img src="{% static 'img/leo.jpg' %}" alt="Lights" >
        </div><br>
        <center>
        <p><b><i>How to wear leopard print This Fall</i></b></p>
        <h3>
            Be Bold with Colorful Leopard Prints, However Don't...

        </h3>
        <br>
        <a type="button" class="btn btn-outline-secondary btn-lg" href="{% url 'leopard' %}">read more</a>
        </center>
    </div>
    <div id="say" class="col-md-6 text-justify">
        <div class="thumbnail">
            <img src="{% static 'img/street.jpg' %}" alt="lights" >
        </div>
        <center>
           
            <p><b><i>Top street style outfits from london fashion week</i></b></p>
            <h3>We Take a Look at the Street Styles Taking our AW19 Pieces to the Next Level... </h3>
            <br>
            <a type="button" class="btn btn-outline-secondary btn-lg" href="{% url 'street' %}">read more</a>
        </center>
    
    </div>
 </div>     
 <br><br>
 
{% endblock %}