{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="same" class="container-fluid ">
  

<br><br><br><br><br><br><br><br><br><br><br>

  <center>
<p><i> Fashion Fade, Style is eternal</p></i>
</center>
</div>

<br>
<section class="pt-5 max-auto">
  <div class=" container-fluid row mx-auto text-black">
      <div id="indian" class="col-md-6 text-justify">
          <a href="{% url 'indianwear' %}">
            <center>
          <img src="{% static 'img/traditional.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
          
          <p style="font-family: 'Times New Roman', Times, serif; font-size:45px;">
              Traditional Wear
          </p></center>
          </a>
      </div>
      <div id="western" class="col-md-6 text-justify">
          <a href="{% url 'westernwear' %}">
            <center>
          <img src="{% static 'img/western3.jpg' %}" alt="lights" style="width:100%">
          <p style="font-family: 'Times New Roman', Times, serif; font-size:45px;">
              Western Wear
          </p></center>
          </a>
      </div>
   </div>   
</section><br><br>




<section>
  <center>
    <div  id="trend" class="container-fluid mx-auto">
    <h1><b>Fashion Trends</b></h1>
    <p>Get inspired and try out new things.</p>
    <h2><b> Top 10 Fashion Styles, Which One is You?</b></h2>
    </div>
  </center>
</section>
<br><br>
<section>
  <div  class= "row mx-auto ">
    <div class="col"></div>
    <div id="box1" class="col-md-3 ">
      
    </div>
    <div id="box" class="col-md-5 text-justify">
      <h3><b>#Vintage </b></h3>
       <p>One of the most adorable fashion styles, it definitely is a blast from the past. 
         From flapper dresses to pinup clothing and from retro swimwear to indie clothing,
          the vintage look is a culmination of fashion from the 20’s to the 70’s. 
          It is the one trend that overcame the test of time.</p>
    </div>
    <div class="col"></div>
  </div>
</section>
<br><br>
<section>
  <div  class= "row mx-auto ">
    <div class="col"></div>
    <div id="box2" class="col-md-3 ">
      
    </div>
    <div id="box" class="col-md-5 text-justify">
      <h3><b>#Bohemian </b></h3>
       <p>The best way to describe bohemian would be to use the word non-traditional. A style which 
         is similar to arty, bohemian style uses extravagant and wild patterns on exotic textures. 
         It can be characterized as an inspiration from gypsy and hippie looks. It is more commonly 
         referred to as ‘Boho’.</p>
    </div>
    <div class="col"></div>
  </div>
</section>
<br><br>
<section>
  <div  class= "row mx-auto ">
    <div class="col"></div>
    <div id="box3" class="col-md-3 ">
    </div>
      <div id="box" class="col-md-5 text-justify">
      <h3><b>#Chic  </b></h3>
       <p>Chic is characterized by being trendy and fashionable. It is a type of statement to make oneself 
         look smart and striking. Whoever follows this style makes sure to choose well tailored stylish 
         designs that are pretty classy. Strong colors which are not extravagant, comes as a part of the 
         chic style. It is something that relates to being casual in not so casual way. If you are part
          of this style, your wardrobe is a symbol of style.</p>
    </div>
    <div class="col"></div>
  </div>
</section>
<br><br>
<section>
  <div  class= "row mx-auto ">
    <div class="col"></div>
    <div id="box4" class="col-md-3 ">
      
    </div>
    <div id="box" class="col-md-5 text-justify">
      <h3><b>#Artsy </b></h3>
       <p>Arty as the names suggest, invokes the independent creativity of the person. These are usually the
          ones who want to make a statement of their own by the clothes they wear. Most of the times, they 
          are the creators of their own fashion style. They do not follow the traditional norms and make the 
          path for themselves. The unconventional for of art leads to innovating very many interesting
           forms of trends which are not restricted by the usual textbook nature of creating fashion.</p>
    </div>
    <div class="col"></div>
  </div>
</section>
<br><br>
<section>
  <div  class= "row mx-auto ">
    <div class="col"></div>
    <div id="box5" class="col-md-3 ">
      
    </div>
    <div id="box" class="col-md-5 text-justify">
      <h3><b>#Sexy </b></h3>
       <p>It is all about showing off your best features. Let all the best things about your out there to get
          the attention of male. Mostly accompanied by heels, shorts or tight skirts, this style leaves the 
          bare minimum for imagination. Exposure is to be at the maximum and as much as skin is shown. 
          Tight fitting tops are chosen to show off the features like breasts and stomach. This is the type
           of fashion which is not every woman’s cup of tea. You got a lot of guts to pull off this one.</p>
    </div>
    <div class="col"></div>
  </div>
</section>
<br><br>
<section>
  <div  class= "row mx-auto ">
    <div class="col"></div>
    <div id="box6" class="col-md-3 ">
      
    </div>
    <div id="box" class="col-md-5 text-justify">
      <h3><b>#Casual </b></h3>
       <p>Casual is a combination of elegance with comfort. This simple style has caught up well with the
          passage of time and is one of the most sought after fashion styles as of now. None of the exotic
           and bold items will be in the wardrobe of a woman who follows casual fashion. They would prefer
            to put on a white T-Shirt and black pants over tight and uncomfortable exotics any day. They tend
             to keep it simple and match the accessories with whatever the simple clothing they are wearing.</p>
    </div>
    <div class="col"></div>
  </div>
</section>
<br><br>
<section>
  <div  class= "row mx-auto ">
    <div class="col"></div>
    <div id="box7" class="col-md-3 ">
      
    </div>
    <div id="box" class="col-md-5 text-justify">
      <h3><b>#Sophisticated </b></h3>
       <p>The people who prefer this are the ones who require everything at best quality. Nothing satisfies
          them if it is not worth the trouble. They often look for styles that make a statement on the
           quality, polished manner and culture. Most of them are the ones who are from higher status
            and are also in a way related to how a businesswoman would dress up. Sophisticated can be 
            characterized as businesswoman minus the formal look. Culture and luxury mean the most to
             the people who choose this style of fashion.</p>
    </div>
    <div class="col"></div>
  </div>
</section>
<br><br>
<section>
  <div  class= "row mx-auto ">
    <div class="col"></div>
    <div id="box8" class="col-md-3 ">
    </div>
    <div id="box" class="col-md-5 text-justify">
      <h3><b>#Tomboy </b></h3>
       <p>Basically for the ones who do not want to be dressed like a woman. They do not abide by the usual
          norms of what a woman should wear. To put it lightly, they prefer black over pink. Most of their 
          clothing are a bit baggy and focuses more on graphic T-Shirts and Shirts from the boy’s selection.
           They do not prefer light colors and frills or laces. It can ask so be described as simple 
           and modern. A boyish look is what they prefer over the classy, elegant looks.</p>
    </div>
    <div class="col"></div>
  </div>
</section>
<br><br>
<section>
  <div  class= "row mx-auto ">
    <div class="col"></div>
    <div id="box9" class="col-md-3 ">
    </div>
    <div id="box" class="col-md-5 text-justify">
      <h3><b>#Rocker </b></h3>
       <p>Vintage T-Shirts, ripped jeans and leather jacket – three words that describe the rocker look.
          It is one of the most versatile style of fashion which keeps changing depending on the genre of
           music, the band and the person who choose to wear it. Be it heavy metal giant Megadeth’s T-Shirt
            or grunge rockers Nirvana’s hoodie, the selection seems to be uncountable. There are no baggy
             apparels in this style. Most of the clothes chosen are a tad bit smaller in size. It all depends 
             on the wearer and what music they love and support.</p>
    </div>
    <div class="col"></div>
  </div>
</section>
<br><br>
<section>
  <div  class= "row mx-auto ">
    <div class="col"></div>
    <div id="box10" class="col-md-3 ">
    </div>
    <div id="box" class="col-md-5 text-justify">
      <h3><b>#Preppy </b></h3>
       <p>The college look would be the tag most suitable for the preppy look. The collared T-Shirts are
          matched and A-line skirts are matched with girly blouses that are lined up in their wardrobe. 
          A cute little headband and geeky glasses mostly do accompany with this style. The geeky look might
           seem to be an expensive style, but it is not required to shell out much to get this look as it is
            not that luxurious.</p>
    </div>
    <div class="col"></div>
  </div>
</section>

<br><br><br>
<center>
<div id="intro" class="container-fluid mx-auto ">
<img src="{% static 'img/60-giphy-35.gif' %}" class="mx-auto d-block"  >
<B><p><i>who we are?</i></p></B>
<h3 style="font-family:'Times New Roman', Times, serif">Fashion Point is a team of enthusiastic stylists that will 
  create a brand new total look for you!
  Classic or street style, casual or evening: we'll dress you up 
  so that you are ready for the photoshoot of the year!
  Be stylish, be unique with Fashion Point!</h3><br>
  <a type="button" class="btn btn-outline-secondary btn-lg" href="{% url 'about' %}">read more</a>
</div>
</center>
<br>

<br>





{% endblock %}





