{% extends "femalewears/westernwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block Sidebar %}
<h3><b><i>Western  Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                    <a href="{% url 'dresses' %}">
                    <h5>Dresses</h5></a>
                    <a href="{% url 'tops' %}">
                    <h5>Tops</h5></a>
                    <a href="{% url 'cardigans' %}">
                    <h5>Cardigans & Sweaters</h5></a>
                    <a href="{% url 'gowns' %}">
                    <h5>Gowns</h5></a>
                    <a href="{% url 'jackets' %}">
                    <h5>Jackets & Coats</h5></a>
                    <a href="{% url 'jumpsuits' %}">
                    <h5>Jumpsuits</h5></a>
                    <a href="{% url 'Skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'sweatshirts' %}">
                    <h5>Sweatshirts</h5></a>
                    <a href="{% url 'jeans' %}">
                    <h5>Jeans & Jeggings</h5></a>
                    <a href="{% url 'sets' %}">
                    <h5>Sets</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'Casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'Festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'Formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'Party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'Evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'Work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'Wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'Vacation' %}">
                    <h5>Vacations</h5></a>
                    <a href="{% url 'Cocktail' %}">
                    <h5>Cocktail</h5></a>
                    <a href="{% url 'Ethnic' %}">
                    <h5>Everyday Essential</h5></a>
                    <br>
                    
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'Solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'Printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'Floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'Stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'Checks' %}">
                    <h5>Checks</h5></a>
                    <a href="{% url 'Ruffled' %}">
                    <h5>Ruffled</h5></a>
                    <a href="{% url 'Embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/cardigan1.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/cardigan1.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Navy Blue Fair Isle Crew Neck Sweater </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Breathe in a fresh dose of cool to your winterwear roster with this cozy and soft 
            sweater from GAP. Knit from soft cotton, it's framed with a crew neck and long sleeves.
             Wear yours with rolled-up jeans and sneakers.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/cardigan2.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/cardigan2.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Beige Textured Pullover</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This beige pullover by Only is crafted in polyester and features a round neck, 
            long sleeves and a regular fit. Style it with a pair of skinny jeans and casual sneakers
             to complete the look.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Geometric<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/cardigan3.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/cardigan3.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Blue Slim Crew Neck Cardigan</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">GAP's teal cardigan sits close to the body without feeling restrictive.
             It is finely knitted from cotton-blend fabric that's both cozy and lightweight. 
             Try leaving the bottom few buttons undone and tucking the front into jeans.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/cardigan4.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/cardigan4.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Blue Solid Sweaters</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This blue sweater by Cover Story is crafted in wool and features a round neck,
             long sleeves and a regular fit. Style this sweater with a pair of skinny denims 
             and black boots to complete the look.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Wool<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/cardigan5.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/cardigan5.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Brown Batwing Sleeves Sweater</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This brown sweater by Vero Moda is crafted in polyester and features a V-neck, 
            long batwing sleeves and a regular fit. Style it with a pair of skinny jeans and
             platform heels to make a statement.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/cardigan6.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/cardigan6.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Navy Blue Solid Cardigan</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This cardigan will be the statement element of your entire look. 
            Style it with a cami top and denims to look effortlessly stunning. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Rayon<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/cardigan7.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/cardigan7.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Ponderosa Pine Green Sweater</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This green sweater by Vero Moda is crafted in wool and features a round neck, 
            long sleeves, a gradient of green and grey shades and a regular fit. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Wool<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/cardigan8.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/cardigan8.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Purple V Neck Button Down Cardigan</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This Kazo purple viscose button down cardigan has a V neck, long sleeves
             and regular fit. Pair this cardigan with bell bottom pants and heels to complete the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Viscose<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/cardigan9.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/cardigan9.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Off Shoulder Blouson Sleeve Sweater</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Refresh your casual wardrobe collection with this coral sweater from Bebe. 
            Style it with a pair of skinny denims and high heels to make a statement. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/cardigan10.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/cardigan10.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Navy Blue Ribbed Turtle Neck Sweater</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This basic black knit tops our 'must haves' list. It works best as a
             layering piece under blazers and coats. Made with acrylic and comes with a ribbed design </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Acrylic & Resin<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/cardigan11.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/cardigan11.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Brown Cardigan</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This brown cardigan by ONLY is crafted in cotton and features long sleeves and a 
            regular fit. Team this cardigan with a top and denims to create a trendy look.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/cardigan12.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/cardigan12.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Off White Sweater</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This off white sweater by Vero Moda is crafted in nylon and features a shawl collar 
            neck, long sleeves and a regular fit. Style it with a pair of skinny jeans and
             platform heels to make a statement.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Nylon<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div><br><br>
{% endblock %}