{% extends "femalewears/westernwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block Sidebar %}
<h3><b><i>Western  Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                    <a href="{% url 'dresses' %}">
                    <h5>Dresses</h5></a>
                    <a href="{% url 'tops' %}">
                    <h5>Tops</h5></a>
                    <a href="{% url 'cardigans' %}">
                    <h5>Cardigans & Sweaters</h5></a>
                    <a href="{% url 'gowns' %}">
                    <h5>Gowns</h5></a>
                    <a href="{% url 'jackets' %}">
                    <h5>Jackets & Coats</h5></a>
                    <a href="{% url 'jumpsuits' %}">
                    <h5>Jumpsuits</h5></a>
                    <a href="{% url 'Skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'sweatshirts' %}">
                    <h5>Sweatshirts</h5></a>
                    <a href="{% url 'jeans' %}">
                    <h5>Jeans & Jeggings</h5></a>
                    <a href="{% url 'sets' %}">
                    <h5>Sets</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'Casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'Festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'Formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'Party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'Evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'Work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'Wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'Vacation' %}">
                    <h5>Vacations</h5></a>
                    <a href="{% url 'Cocktail' %}">
                    <h5>Cocktail</h5></a>
                    <a href="{% url 'Ethnic' %}">
                    <h5>Everyday Essential</h5></a>
                    <br>
                    
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'Solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'Printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'Floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'Stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'Checks' %}">
                    <h5>Checks</h5></a>
                    <a href="{% url 'Ruffled' %}">
                    <h5>Ruffled</h5></a>
                    <a href="{% url 'Embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/gown1.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Pink All About That Lace Gown </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Pink polyester georgette and lace maxi dress with polyester knit lining.
             Lace detailing on the front and back yoke. Sleeveless with v neckline. 
             Fit & flare silhouette. Side zipper for fastening & ease  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Georgette<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/gown2.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Burgundy Shine Bright Beautiful Sequin Gown</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Crafted in ombre sequin knit with a polyester knit lining, this gown is sure to grab 
            attention. It features a tube neckline, a thigh-high slit and a concealed zipper at the left.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Embellished/Sequined<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/gown3.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Yellow Meet The Blooms Gown</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Yellow Polyester Georgette Floral Printed Gown. Polyester Knit Lining 
            Inside for comfort. Halter neck & deep incut Sleeveless dress. Elasticated Waistline 
            blouson style with a tie up for style. Keyhole button on the back for fastening.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Georgette<br>
            Pattern : Floral<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/gown4.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Beige Gladiola Gown</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Boat neck gown with churidar sleeves and keyhole neckline cut-out.
            The gown has shaded bead embroidery in peach and green with antique gold embroidery</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Net<br>
            Pattern : Embellished/Sequined<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/gown5.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Maroon Sequin Bell Cuff Gown</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This maroon gown by Attic Salt is crafted in polyester and features a round neck
             and long bell sleeves with sequin embellishments.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/gown6.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Beige Strapless Solid Gown</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This beige polyester strapless gown by All About June has a sweeping silhouette,
             sweetheart neckline, an asymmetrical hem with ruffles, lined, a slim fit and fastened with a 
             zipper at the back. This gown pairs well with heels for an elongating look.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/gown7.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Off Shoulder Black Sequin Gown</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This black one shoulder gown by Attic Salt is crafted in polyester and features 
            one sided long sleeves and sequin embellishments all over.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Embellished/Sequined<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/gown8.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Black Exaggerated Net Gown With Ruffle</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This black net gown has a voluminous flared bottom and an exaggerated net ruffle
             going across the neck with a low cut back.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/gown9.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Gold Thread Textured Corset Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This gold thread textured dress is the Ideal Cocktail wear for your wardrobe.
             Made in organza fabric, its upper part is body fitted. Get your princess fix in this
              Utterly beautiful Gorgeous Silhouette.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Organza<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/gown10.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Lavender Gown</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Drapes of Lavender silk organza that stem from the shapes of rose petals come alive
             through the Rose Gown. Embellished with a micro pearl waist belt, this gown is a 
             festive wardrobe essential.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Organza<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/gown11.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Pink Embroidered Gown</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Biba Pink Embroidered Gown . This gown pairs well with heels for an elongating look.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Embroidered<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/gown12.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Peach Net Layered Shimmer Drape Ruched Gown</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This peach one shoulder gown is enhanced with voluminous layers of net and a ruched
             bodice along with a shimmer drape at the shoulder.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div><br><br>
{% endblock %}