{% extends "femalewears/westernwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block Sidebar %}
<h3><b><i>Western  Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                    <a href="{% url 'dresses' %}">
                    <h5>Dresses</h5></a>
                    <a href="{% url 'tops' %}">
                    <h5>Tops</h5></a>
                    <a href="{% url 'cardigans' %}">
                    <h5>Cardigans & Sweaters</h5></a>
                    <a href="{% url 'gowns' %}">
                    <h5>Gowns</h5></a>
                    <a href="{% url 'jackets' %}">
                    <h5>Jackets & Coats</h5></a>
                    <a href="{% url 'jumpsuits' %}">
                    <h5>Jumpsuits</h5></a>
                    <a href="{% url 'Skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'sweatshirts' %}">
                    <h5>Sweatshirts</h5></a>
                    <a href="{% url 'jeans' %}">
                    <h5>Jeans & Jeggings</h5></a>
                    <a href="{% url 'sets' %}">
                    <h5>Sets</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'Casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'Festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'Formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'Party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'Evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'Work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'Wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'Vacation' %}">
                    <h5>Vacations</h5></a>
                    <a href="{% url 'Cocktail' %}">
                    <h5>Cocktail</h5></a>
                    <a href="{% url 'Ethnic' %}">
                    <h5>Everyday Essential</h5></a>
                    <br>
                    
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'Solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'Printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'Floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'Stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'Checks' %}">
                    <h5>Checks</h5></a>
                    <a href="{% url 'Ruffled' %}">
                    <h5>Ruffled</h5></a>
                    <a href="{% url 'Embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jacket1.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Grey Annabella Wrap Coat </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Crafted from a luxurious wool-blend, this cosy grey marle wrap coat is the perfect
             match for just about anything in your wardrobe. Wear it belted over dresses,
              denim and tailored separates.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jacket2.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Navy Blue Solid Denim Jacket </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This navy blue denim jacket by Femella is crafted in cotton and features a shirt
             collar neck with button placket, puff long sleeves, two patch packet and regular fit.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jacket3.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Lola Biker Jacket </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This black jacket by Forever New is crafted in polyester and features a
             lapel collar neck, long sleeves, zip details on the front and a regular fit. 
             Style this jacket with casual top and jeans to complete the look.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jacket4.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Off White Jackson Boucle Blazer </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Tailored to perfection, this off white boucle blazer is a sophisticated choice
             for work to evening wear. Pair yours with its matching skirt and high-block heels for
              an elevated ensemble.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Acrylic & Resin<br>
            Pattern : Checks<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jacket5.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Green Twill Utility Jacket </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">GAP only uses quality fabrics and believes the best clothes are not over-designed or
             complicated. Made from a durable cotton canvas, this jacket is fitted with utilitarian patch 
             pockets and a snap button placket. Layer yours over any outfit. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jacket6.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Black Long Coat </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This black long coat by Vero Moda is crafted in polyester and features lapel collars,
             long sleeves and pockets on the front. Team it with a dress or a top and trouser pants to create a statement look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jacket7.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Brown Leather Zippered Biker Jacket </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Add a rugged edge to your winter look with this brown leather zippered biker jacket.
             Features full sleeves with zip detailing in the front. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Leather<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jacket8.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Beige Phillipa Felled Seam Coat </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This longline blush felled seam coat is handstitched for a luxurious finishing touch. 
            Layer yours over everything from midi dresses to denim.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jacket9.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Front Open Full Sleeves Jacket </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This beige jacket is crafted in cotton and features an open front, long sleeves,
             embroidered details all over and a regular fit. Style this jacket with a basic top and 
             skinny denims to complete the look.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Embroidered<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jacket10.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Beige Faux Fur Hooded Jacket </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This beige faux fur hood jacket by ONLY is crafted in polyester, sleeveless and features
             a zip closure on the front, side pockets and a regular fit.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jacket11.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Jacket Junkiie Multi-Color Checks Zip It Up Blazer </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Everyday throw on open casual jacket with zippers at the back, two welt pockets and a satin
             collar with velvet detail combined with soft light weight corduroy checks. Style this blazer with
              a button-down shirt and straight-cut trousers to make a statement.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Checks<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jacket12.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Maroon Felt Pea Coat </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Make a head turning fashion statement with this chic and elegant maroon felt pea coat.
             It features full sleeves and button detail in the front. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Viscose<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div><br><br>
{% endblock %}