{% extends "femalewears/westernwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block Sidebar %}
<h3><b><i>Western  Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                    <a href="{% url 'dresses' %}">
                    <h5>Dresses</h5></a>
                    <a href="{% url 'tops' %}">
                    <h5>Tops</h5></a>
                    <a href="{% url 'cardigans' %}">
                    <h5>Cardigans & Sweaters</h5></a>
                    <a href="{% url 'gowns' %}">
                    <h5>Gowns</h5></a>
                    <a href="{% url 'jackets' %}">
                    <h5>Jackets & Coats</h5></a>
                    <a href="{% url 'jumpsuits' %}">
                    <h5>Jumpsuits</h5></a>
                    <a href="{% url 'Skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'sweatshirts' %}">
                    <h5>Sweatshirts</h5></a>
                    <a href="{% url 'jeans' %}">
                    <h5>Jeans & Jeggings</h5></a>
                    <a href="{% url 'sets' %}">
                    <h5>Sets</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'Casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'Festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'Formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'Party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'Evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'Work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'Wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'Vacation' %}">
                    <h5>Vacations</h5></a>
                    <a href="{% url 'Cocktail' %}">
                    <h5>Cocktail</h5></a>
                    <a href="{% url 'Ethnic' %}">
                    <h5>Everyday Essential</h5></a>
                    <br>
                    
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'Solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'Printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'Floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'Stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'Checks' %}">
                    <h5>Checks</h5></a>
                    <a href="{% url 'Ruffled' %}">
                    <h5>Ruffled</h5></a>
                    <a href="{% url 'Embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/jeans1.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/jeans1.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Blue Solid Mid Waist Jeans </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Featuring a mid-rise waist and a front button and zip closure, these blue jeans from
             GAP are a must-have in your collection. Style these jeans with a basic white top and
              a pair of block heels to complete the ensemble.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/jeans2.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/jeans2.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Navy Blue Solid Mid Waist Skinny Jeans </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">These jeans from GAP will make a sound addition to your denim repertoire. 
            Woven from breathable cotton with an ample amount of stretch, they're pieced together
             with dexterous pockets.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/jeans3.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/jeans3.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>White New Bella High Rise Sculpting Jean </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">In crisp wash, these high rise sculpting jeans are crafted with high-performance
             stretch technology to help smooth, shape and hold you in from waist to ankle. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/jeans4.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/jeans4.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Olive Solid Jegging </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">These olive green pants are crafted in rayon and feature a mid-rise waist,
             a pull-on style, a side zip fastening and a regular fit.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Rayon<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/jeans5.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/jeans5.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Jet Black Stretchable Low Rise Slim Fit Jeans</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">These jet black jeans are crafted in denim and feature a low-rise waist, a front button
             and zip fastening detail, side slit pockets, rear patch pockets and a skinny fit.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Denim<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/jeans6.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/jeans6.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Solid Mid Waist Jegging</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Cut in a relaxed profile with plenty of stretch, these pants by GAP will sculpt and
             mould your curves. They're put up together with an elasticized waistband and tapered legs
              with slits at hemline.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Viscose<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/jeans7.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/jeans7.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Blue Stretchable Low Rise Slim Fit Ankle length Jeans</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">These blue jeans are crafted in denim and feature a low-rise waist, a front button
             and zip fastening detail, side slit pockets, rear patch pockets and a slim fit. 
             Style these jeans with a basic top or a button-down shirt to complete the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Denim<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/jeans8.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/jeans8.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Denim Jegging</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Add these comfortable jeggings with side tape details to your daily wear collection. 
            Pair these skin fit jeggings with a tunic top and block heels to complete the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Denim<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/jeans9.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/jeans9.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Denim Flared Jeans</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This pair of black mid-rise flared jeans by ONLY is crafted in cotton and features 
            a zip and button closure, insert pockets and belt loops at the waist. Pair this jeans
             with a top and heels to complete the look.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/jeans10.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/jeans10.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Blue Denim Jeggings 360ᵒ Super Stretch</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">These super comfortable range of jeggings from Go Colors will never let you compromise 
            style & comfort. Tailored in skin fit, these jeggings give you extra stretch ability.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : PolyCotton<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/jeans11.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/jeans11.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Navy Blue Sophie High Waist Jeans</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">With flattering corset waistband detail and exposed button fly, these dark wash super
             high-rise sculpting jeans have you covered for any occasion. Show yours off with a 
             tucked-in tee and strappy heels.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Lyocell<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/jeans12.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/jeans12.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Comfort Fit Black Jeggings</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">These black jeggings by Runwayin are crafted in nylon and feature a mid rise 
            elasticated waist, cropped ankle-length and a skinny fit. Style these jeggings with casual
             t-shirts and shoes to complete the look.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Nylon<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div><br><br>
{% endblock %}