{% extends "femalewears/westernwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block Sidebar %}
<h3><b><i>Western  Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                    <a href="{% url 'dresses' %}">
                    <h5>Dresses</h5></a>
                    <a href="{% url 'tops' %}">
                    <h5>Tops</h5></a>
                    <a href="{% url 'cardigans' %}">
                    <h5>Cardigans & Sweaters</h5></a>
                    <a href="{% url 'gowns' %}">
                    <h5>Gowns</h5></a>
                    <a href="{% url 'jackets' %}">
                    <h5>Jackets & Coats</h5></a>
                    <a href="{% url 'jumpsuits' %}">
                    <h5>Jumpsuits</h5></a>
                    <a href="{% url 'Skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'sweatshirts' %}">
                    <h5>Sweatshirts</h5></a>
                    <a href="{% url 'jeans' %}">
                    <h5>Jeans & Jeggings</h5></a>
                    <a href="{% url 'sets' %}">
                    <h5>Sets</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'Casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'Festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'Formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'Party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'Evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'Work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'Wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'Vacation' %}">
                    <h5>Vacations</h5></a>
                    <a href="{% url 'Cocktail' %}">
                    <h5>Cocktail</h5></a>
                    <a href="{% url 'Ethnic' %}">
                    <h5>Everyday Essential</h5></a>
                    <br>
                    
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'Solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'Printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'Floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'Stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'Checks' %}">
                    <h5>Checks</h5></a>
                    <a href="{% url 'Ruffled' %}">
                    <h5>Ruffled</h5></a>
                    <a href="{% url 'Embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jump1.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Brown All The Way Jogger Jumpsuit </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Brown rayon twill jumpsuit. V neckline with short sleeves. Elasticated waist for 
            comfort. Comfort fit with jogger style bottom silhouette. Center front button placket
             for fastening and ease.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Rayon<br>
            Pattern : Solid/Plain<br>
            Type : Jumpsuits</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jump2.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Blue Solid Scoop Neck Jumpsuit </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This sun washed romper by GAP makes a comfy add to your summer closet.
             Made from soft knitted cotton, it features a scoop neck, tank straps and slant pockets. 
             Wear it with strappy sandals and a hat for the next pool party. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            Type : Jumpsuits</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jump3.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Blue Block Print Cotton Jumpsuit With Jacket </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Add a subtle twist to your look with this jumpsuit. Pair it with heels and fine
            accessories to complete the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Floral<br>
            Type : Jumpsuits</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jump4.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Baby Pink Stripes Dhoti Jumpsuit </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">A free spirited bohemian style dhoti jumpsuit. A unique yet comfortable style 
            apt for the summers and holiday getaways. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Stripes<br>
            Type : Jumpsuits</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jump5.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Pink Leaf Blush Jumpsuit </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This jumpsuit is our new party go-to. Featuring a crepe material with a v-neckline,
             a elastic waist and a wide-leg fit. Team this with nude-high heels and a statement mini bag
              to complete the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
            Type : Jumpsuits</p>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jump6.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Green Dropcrotch Jumpsuit With Shrug </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This green jumpsuit by Bunaai is crafted in crepe and comes with a matching shrug.
             The jumpsuit features a V-neck, fixed shoulder straps, a tie-up detail at the back, wide legs,
              a dropped crotch detail and a regular fit. The shrug features an open front, 
              3/4th sleeves and a comfortable fit.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Crepe<br>
            Pattern : Solid/Plain<br>
            Type : Jumpsuits</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jump7.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Blue Floral Dropcrotch Jumpsuit </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This versatile jumpsuit is essential for your holiday wardrobe. Featuring a baby
             blue floral print material without sleeves and adjustable bottoms, we are obsessed.
              Team this with tie-up sandals and a bag to complete the look.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Crepe<br>
            Pattern :  Floral<br>
            Type : Jumpsuits</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jump8.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Red Get On The Right Side One Shoulder Jumpsuit </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">A red one shoulder knitted jumpsuit with straight leg bottoms.
             It has a concealed side zipper for fastening & ease.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern :  Solid/Plain<br>
            Type : Jumpsuits</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jump9.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Black Get Slit Done Jumpsuit </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Black Polyester Knit Jumpsuit. Knee Slits on both sides of the outseam .
             Zipper on the back for fastening and ease. Flared Hemline Sleeveless and Round Neckline.
             raight leg bottoms.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern :  Solid/Plain<br>
            Type : Jumpsuits</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jump10.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Pink Take Me For A Spin Jumpsuit </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This tube style jumpsuit is created in pink polyester with lycra content, 
            it features a tube neckline, a circular flap layer, wide legged bottoms and a concealed 
            centre back zipper for fastening. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern :  Solid/Plain<br>
            Type : Jumpsuits</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jump11.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Mustard Samantha Belted Frill Jumpsuit </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">In our vibrant ochre tropical print, this frilled jumpsuit will make a statement
             at your next summer event. It's perfect for garden weddings and chic picnics when 
             teamed with wedges and floral earrings. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Viscose<br>
            Pattern :  Floral<br>
            Type : Jumpsuits</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/jump12.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Green Crepe Culotte Jumpsuit </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Relaxed fit midi jumpsuit with ruffled sleeves. The elasticated waist and comfortable 
            hip silhouette are perfect for the Indian body type. Made from smooth, wrinkle resistant
             crepe fabric, this jumpsuit is sure to look trendy. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Crepe<br>
            Pattern :  Solid/Plain<br>
            Type : Jumpsuits</p>
</div>
</div><br><br>
{% endblock %}