{% extends "femalewears/westernwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block Sidebar %}
<h3><b><i>Western  Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                    <a href="{% url 'dresses' %}">
                    <h5>Dresses</h5></a>
                    <a href="{% url 'tops' %}">
                    <h5>Tops</h5></a>
                    <a href="{% url 'cardigans' %}">
                    <h5>Cardigans & Sweaters</h5></a>
                    <a href="{% url 'gowns' %}">
                    <h5>Gowns</h5></a>
                    <a href="{% url 'jackets' %}">
                    <h5>Jackets & Coats</h5></a>
                    <a href="{% url 'jumpsuits' %}">
                    <h5>Jumpsuits</h5></a>
                    <a href="{% url 'Skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'sweatshirts' %}">
                    <h5>Sweatshirts</h5></a>
                    <a href="{% url 'jeans' %}">
                    <h5>Jeans & Jeggings</h5></a>
                    <a href="{% url 'sets' %}">
                    <h5>Sets</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'Casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'Festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'Formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'Party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'Evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'Work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'Wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'Vacation' %}">
                    <h5>Vacations</h5></a>
                    <a href="{% url 'Cocktail' %}">
                    <h5>Cocktail</h5></a>
                    <a href="{% url 'Ethnic' %}">
                    <h5>Everyday Essential</h5></a>
                    <br>
                    
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'Solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'Printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'Floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'Stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'Checks' %}">
                    <h5>Checks</h5></a>
                    <a href="{% url 'Ruffled' %}">
                    <h5>Ruffled</h5></a>
                    <a href="{% url 'Embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/set1.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/set1.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Olive Style Becomes You Co-ordinates </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Olive polyester crepe and polyester georgette pant co-ord set. Crop top with a wide
             v neckline and ruching on the centre front. Short puff sleeves with gathers at the sleeve hem. 
             Straight bottom pants. Concealed side zipper on the pants for closure. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/set2.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/set2.jpg' %}" class="img-responsive" alt="lights" style="width:100%">,</a>
        <p><b>Cream Campfire Co-ord Set </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Featuring a co-ord with the top curated with the thread work and the dories
             enhanced with applique pleats at the waist line. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Embellished/Sequined<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/set3.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/set3.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Maroon Front Overlap Top And Paneled Peplum Skirt </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">A set of sleeveless cotton overlap top & knee length fully lined peplum skirt.
             The skirt has a zipper opening at the center back. The panels in the front give it a good fit.
              There is cut & sew detail in the front enhanced with chawal-taka (handstitch) detail. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Stripes<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/set4.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/set4.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Red Tribal Drummer Wrap Top With Pant  </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">The red tribal drummer crepe wrap around top with the splatter bell bottom pants 
            looks like a perfect summer outfit! </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Crepe<br>
            Pattern : Printed<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/set5.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/set5.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Gunner Set With Shorts, Crop Top & Jacket   </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This grey and black jacket, crop top and shorts set by Notch Above is crafted in cotton.
             The crop top is sleeveless and features a boat neck. The jacket features a collared neck,
              long sleeves, a button detailing on the front and ikat prints all over.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/set6.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/set6.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Beige Fringe Style Top With Skirt    </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This beige fringe style skirt and top set by bebe is crafted in polyester. 
            The top is sleeveless and features a sheer yoke and a back zip closure. Pair this set with 
            heels and fine accessories to complete the look.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Embellished/Sequined<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/set7.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/set7.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Two To Tango Royal Blue Co-ordinates     </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Crafted in polyester crepe, this co-ord set can be worn for a party by the pool or at
             the city's swankiest bar. The set comes with a tupe top and palazzo pants featuring side 
             slits and a concealed zipper</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/set8.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/set8.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Maroon Sasha Hooded Co-ordinates     </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">It doesn't get cooler than this skirt with a matching top! Own street style with this
             athleisure co-ord set. With sunglasses and shoes, you are good to go.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/set9.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/set9.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Lace Forever Black Co-ordinates   </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Crafted in polyester lace with a polyester knit lining, this co-ord set can be worn
             together or as is. While the crop top features broad straps and an overlapping v-neckline, 
             the skirt comes with a flared panel at the hem and a concealed zipper at the left.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Patterned<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/set10.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/set10.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Multicolor Block Print Blazer & Pant   </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Add a glamour quotient to your look with this trendy co-ord set. Made with
             block-printed cotton fabric, this co-ord set is all you need to update your casual 
             wardrobe to a top-notch style.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Geometric<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/set11.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/set11.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Floral Printed Crop Top With Flared Pants And Jacket   </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Printed all over printed crop top and flarred pants paired withy net jacket and
             enhanced with printed boarder</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Satin<br>
            Pattern : Floral<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/set12.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/set12.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Navy Blue Pant With Blouse    </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This navy blue blouse and pant set by Rishi & Vibhuti is crafted in silk and come with 
            a silver palla accented with mirror work details all over. The blouse features a boat neck,
             long sleeves and a regular fit. The pants feature a mid-rise waist, a wide waistband, 
             flared legs and a regular fit.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Silk<br>
            Pattern : Embellished/Sequined<br>
            </p>
</div>
</div><br><br>
{% endblock %}