{% extends "femalewears/westernwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block Sidebar %}
<h3><b><i>Western  Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                    <a href="{% url 'dresses' %}">
                    <h5>Dresses</h5></a>
                    <a href="{% url 'tops' %}">
                    <h5>Tops</h5></a>
                    <a href="{% url 'cardigans' %}">
                    <h5>Cardigans & Sweaters</h5></a>
                    <a href="{% url 'gowns' %}">
                    <h5>Gowns</h5></a>
                    <a href="{% url 'jackets' %}">
                    <h5>Jackets & Coats</h5></a>
                    <a href="{% url 'jumpsuits' %}">
                    <h5>Jumpsuits</h5></a>
                    <a href="{% url 'Skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'sweatshirts' %}">
                    <h5>Sweatshirts</h5></a>
                    <a href="{% url 'jeans' %}">
                    <h5>Jeans & Jeggings</h5></a>
                    <a href="{% url 'sets' %}">
                    <h5>Sets</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'Casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'Festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'Formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'Party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'Evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'Work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'Wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'Vacation' %}">
                    <h5>Vacations</h5></a>
                    <a href="{% url 'Cocktail' %}">
                    <h5>Cocktail</h5></a>
                    <a href="{% url 'Ethnic' %}">
                    <h5>Everyday Essential</h5></a>
                    <br>
                    
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'Solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'Printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'Floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'Stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'Checks' %}">
                    <h5>Checks</h5></a>
                    <a href="{% url 'Ruffled' %}">
                    <h5>Ruffled</h5></a>
                    <a href="{% url 'Embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/Skirt1.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/Skirt1.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Grey Headed The Route 66 Asymmetric Skirt </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">A WASHED ASYMMETRICAL DENIM SKIRT WITH OFF CENTER BUTTON CLOSURE  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Denim<br>
            Pattern : Solid/Plain<br>
            Type : Mini</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/Skirt2.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/Skirt2.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Blue Ruffled Maxi Skirt </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Give your style a flare with this blue maxi skirt from AND and wear it with
             a crop top, hoop earrings and flats to complete the look.   </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Ruffled<br>
            Type : Maxi</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/Skirt3.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/Skirt3.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Amy PU Pencil Skirt </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This maroon PU pencil skirt by Forever New is crafted in polyester and features a 
            back zipper fastening detail and a regular fit.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            Type : Knee Length</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/Skirt4.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/Skirt4.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Green Lyla Co-Ord Button Down Skirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This leafy green linen-blend button-down midi skirt from Forever New adds an
             elegant pop of colour to your daytime wardrobe. Team this skirt with a crop top and heeled 
             sandals to finish the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Linen<br>
            Pattern : Solid/Plain<br>
            Type : Midi</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/Skirt5.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/Skirt5.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Rust Drawstring Skirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Speaking of separates with a twist, this rust skirt in cotton blend offers a
             lightweight construction for all-day comfort. Made unique by its asymmetric cut with
              adjustable side-string tie details and boxy silhouette, this woven skirt is truly timeless.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Poplin<br>
            Pattern : Solid/Plain<br>
            Type : Midi</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/Skirt6.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/Skirt6.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Gold Poly Georgette With Pleated Mini Skirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This gold pleated skirt from Aaliya makes a statement addition in your casual wardrobe.
             Style this skirt with a dressy blouse or a tank top and a pair of high heels to complete
              the ensemble.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Pleated<br>
            Type : Mini</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/Skirt7.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/Skirt7.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Arundhati Wrap Skirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Crafted from fluid cotton that is hand block printed in an Egyptian inspired print, 
            this skirt from The Jodi Life has an easy wrap silhouette. The adjustable ties at the side allow
             you to personalize the fit. The waistband features hand embroidered blanket stitch in off 
             white thread.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
            Type : Knee Length</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/Skirt8.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/Skirt8.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Beige High Waist Pleated Tie Up Belt Skirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This beige skirt is crafted in cotton and features a high-rise waist, a back tie-up 
            detail, box pleat details and a regular fit. Style this skirt with a basic button-down
             shirt and high heels to complete the look.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Pleated<br>
            Type : Midi</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/Skirt9.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/Skirt9.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Blue Diagonal Ruched Skirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Diagonal Ruched Band Blue Skirt. Style this skirt with a basic Stylish Plain
            top and high heels to complete the look</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Pleated<br>
            Type : Knee Length</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/Skirt10.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/Skirt10.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Fabric And Tulle Skirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Asymmetric shaped made out of viscose and tulle panels makes this skirt interesting</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Ruffled<br>
            Type : Midi</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/Skirt11.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/Skirt11.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Grey Lycra Fish Cut Skirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Make classy style yours as you pick this light grey checked fish cut skirt from 
            Office and You. The lycra composed skirt is tailored in a fish cut design which offers a 
            toned look to your legs. It comes with a zipper closure for easy wear.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Lycra<br>
            Pattern : Checks<br>
            Type : Midi</p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/Skirt12.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/Skirt12.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Gauguin Indigo Skirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This blue and red skirt by The Jodi Life is crafted in cotton and modal fabric and 
        features a drawstring detail with a slit on the front, printed motifs all over and a regular fit. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Modal<br>
            Pattern : Printed<br>
            Type : Midi</p>
</div>
</div><br><br>
{% endblock %}