{% extends "femalewears/westernwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block Sidebar %}
<h3><b><i>Western  Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                    <a href="{% url 'dresses' %}">
                    <h5>Dresses</h5></a>
                    <a href="{% url 'tops' %}">
                    <h5>Tops</h5></a>
                    <a href="{% url 'cardigans' %}">
                    <h5>Cardigans & Sweaters</h5></a>
                    <a href="{% url 'gowns' %}">
                    <h5>Gowns</h5></a>
                    <a href="{% url 'jackets' %}">
                    <h5>Jackets & Coats</h5></a>
                    <a href="{% url 'jumpsuits' %}">
                    <h5>Jumpsuits</h5></a>
                    <a href="{% url 'Skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'sweatshirts' %}">
                    <h5>Sweatshirts</h5></a>
                    <a href="{% url 'jeans' %}">
                    <h5>Jeans & Jeggings</h5></a>
                    <a href="{% url 'sets' %}">
                    <h5>Sets</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'Casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'Festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'Formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'Party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'Evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'Work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'Wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'Vacation' %}">
                    <h5>Vacations</h5></a>
                    <a href="{% url 'Cocktail' %}">
                    <h5>Cocktail</h5></a>
                    <a href="{% url 'Ethnic' %}">
                    <h5>Everyday Essential</h5></a>
                    <br>
                    
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'Solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'Printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'Floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'Stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'Checks' %}">
                    <h5>Checks</h5></a>
                    <a href="{% url 'Ruffled' %}">
                    <h5>Ruffled</h5></a>
                    <a href="{% url 'Embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/sweat1.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/sweat1.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Off White Glitter Logo Pullover Sweatshirt </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Made from a soft cotton-blend jersey, this sweatshirt by GAP will be your go-to
             number when the temperature drops. The glitter logo at front adds a signature appeal, 
             while a crew neck, long sleeves and ribbed trims complete its design  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/sweat2.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/sweat2.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Maroon Printed Cropped Sweatshirt </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This maroon sweatshirt from ONLY is crafted in cotton and features a round neck 
            with zip closure, long sleeves and printed graphic details on the front.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/sweat3.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/sweat3.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Choker Collared Sweatshirt </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This black sweatshirt by BEBE is crafted in cotton elastane and features a high neck,
             long sleeves, printed details and a regular fit. Style this sweatshirt with jeans 
             and bellies to complete the look.   </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/sweat4.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/sweat4.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Maroon Cropped 2 Fer Sweatshirt </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This maroon cropped sweatshirt by bebe is crafted in cotton and features a round neck, 
            cold shoulder long sleeves and a bebe logo detailing. Pair this sweatshirt with denims and
             sneakers to complete the look.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/sweat5.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/sweat5.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Yellow Turtle Neck Sweatshirt </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This yellow sweatshirt by bebe is crafted in cotton and features a turtle neck and
             long sleeves. Pair this sweatshirt with denims and sneakers to complete the look.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/sweat6.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/sweat6.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>O-Neck Maroon Sweatshirt </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This maroon sweatshirt by ONLY is crafted in polyester and fearures a round neck, 
            long sleeves and a regular fit. Team it with denims and sneakers to create a trendy look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/sweat7.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/sweat7.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Brown Sweatshirt </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This brown sweatshirt by Vero Moda is crafted in cotton and features a cowl neck, 
            long sleeves and a tie up detailing at the neckline. Pair it with denims and sneakers
             to create a casual and trendy look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/sweat8.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/sweat8.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Pink Long Sleeves Jumper </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This pink jumper crafted in polyester and features a hooded neck, long sleeves,
             printed details and a regular fit. Style this with jeans or skirt to complete the look.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Printed<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/sweat9.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/sweat9.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Camo Patterned Hooded Sweatshirt </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This camo patterened hood from ONLY is crafted from polyester and features long 
            sleeves and round hemline. Style this with high waist pant and shoes for a funky look.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Camouflage<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/sweat10.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/sweat10.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Brown Cold Shoulder Sweatshirt </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This brown cold shoulder sweatshirt by BEBE is crafted in synthetic material and 
            features a high neck, long sleeves, a belt detailing on one shoulder and a comfortable fit. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Synthenic<br>
            Pattern : Patterned<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/sweat11.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/sweat11.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Navy Blue Pearl Embellished Sweatshirt </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Add a touch of glam to your everyday winter wardrobe with this navy blue embellished
             sweatshirt. Features pearl embellishments on the sleeves. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/sweat12.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/sweat12.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Alfabolic Black Wanderlust Sweatshirt </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This boyfriend sweater, has been made exclusively for airport looks, travel-leisure 
            and for a life on the go. It is the definition of comfort chic. This can be worn as a set with 
            our wanderlust pants, making for the perfect airport look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed<br>
            </p>
</div>
</div><br><br>
{% endblock %}