{% extends "femalewears/westernwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block Sidebar %}
<h3><b><i>Western  Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                    <a href="{% url 'dresses' %}">
                    <h5>Dresses</h5></a>
                    <a href="{% url 'tops' %}">
                    <h5>Tops</h5></a>
                    <a href="{% url 'cardigans' %}">
                    <h5>Cardigans & Sweaters</h5></a>
                    <a href="{% url 'gowns' %}">
                    <h5>Gowns</h5></a>
                    <a href="{% url 'jackets' %}">
                    <h5>Jackets & Coats</h5></a>
                    <a href="{% url 'jumpsuits' %}">
                    <h5>Jumpsuits</h5></a>
                    <a href="{% url 'Skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'sweatshirts' %}">
                    <h5>Sweatshirts</h5></a>
                    <a href="{% url 'jeans' %}">
                    <h5>Jeans & Jeggings</h5></a>
                    <a href="{% url 'sets' %}">
                    <h5>Sets</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'Casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'Festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'Formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'Party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'Evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'Work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'Wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'Vacation' %}">
                    <h5>Vacations</h5></a>
                    <a href="{% url 'Cocktail' %}">
                    <h5>Cocktail</h5></a>
                    <a href="{% url 'Ethnic' %}">
                    <h5>Everyday Essential</h5></a>
                    <br>
                    
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'Solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'Printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'Floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'Stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'Checks' %}">
                    <h5>Checks</h5></a>
                    <a href="{% url 'Ruffled' %}">
                    <h5>Ruffled</h5></a>
                    <a href="{% url 'Embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/check1.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/check1.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Women Multi-Color Geometric A-Line Yarn Dyed Rayon Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This dress is a must-have in your collection. Style it with subtle accessories and
             heels to complete the look.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Viscose<br>
            Pattern : Checks<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/check2.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/check2.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Blue Checked Boxy Shirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Create a statement look by wearing this shirt from Sheen Studio. Pair it with
             straight pants and heels to slay the look.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Checks<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/check3.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/check3.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Multi-colour Checks Mid Waist Pant</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">GAP's pants are cut from a mix of fabrics in an ankle-skimming length. Patterned in
             multi-colour checks, they sit comfy at your waist and have four handy pockets.
              Style them with a solid tee to keep the pattern in focus.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Checks<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/check4.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/check4.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Green Check cycling shorts</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">These knitwear tailored cycling shorts with a checkerboard pattern make for great day 
            and casual wear. Wear them with crop top and high-tops sneakers to complete the look.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Checks<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/check5.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/check5.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Multi-Color Jacquard Jacket With Stones Embellishments</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Make a stunning style statement with this elegant multi-coloured jacket accented with
             stone embellishment details from the house of Aaliya. Style this jacket with a white tank top,
              a pair of skinny denims and high heels to complete the look.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Checks<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/check6.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/check6.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Brown Checks Blazer</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This brown blazer by FableStreet is crafted in polyester and features a notch lapel 
            collared neck, long sleeves, button closure, check patterns all over and pockets on the front. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Checks<br>
           
            </p>
            
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/check7.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/check7.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black And White Bog Checks A Line Skirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This black and white high-waist skirt by Fabnest is crafted in cotton and features
             check patterns all over, an A-line silhouette and an elasticated back. Pair it with a top and
              heels to complete the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Checks<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/check8.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/check8.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Navy Blue Crepe Jumpsuit</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Sleeveless relaxed fit jumpsuit with a complimentary belt and an elasticated waist .
             The elasticated waist and comfortable hip silhouette is perfect for the Indian body type . 
             Made from smooth, wrinkle resistant crepe fabric , this jumpsuit is sure to look trendy. 
             It is color bleeding resistant thereby making it long lasting .  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Crepe<br>
            Pattern : Checks<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/check9.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/check9.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Off White Geometric Straight Cotton Dobby Top With Skirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Featuring elegant printed details, this off white top and skirt set from Jaipur Kurti
             makes a statement addition to your casual wardrobe. Style this set with a pair of high heels 
             and statement accessories to complete the look.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Viscose<br>
            Pattern : Checks<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/check10.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/check10.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Red Check Pullover</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This red sweatshirt from ONLY is crafted in viscose and features a round neck, long sleeves 
            with elasticated cuffs and a checks. Pair it with black denims and heels to complete the look.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Viscose<br>
            Pattern : Checks<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/check11.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/check11.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Navy Blue Checkered Slim Jeggings</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">These black jeggings are crafted in polyester and feature check patterns all over and 
            a zip detailing on the front. Pair them with a shirt and flats to create a trendy look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Checks<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/check12.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/check12.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Blue Checks Maxi Gown</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Feminine and chic, this maxi paired with our beige criss cross heels is perfect for 
            Sunday brunch. P.S Hold a white sling bag to set the day mood right. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Checks<br>
           
            </p>
</div>
</div><br><br>
{% endblock %}