{% extends "femalewears/westernwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block Sidebar %}
<h3><b><i>Western  Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                    <a href="{% url 'dresses' %}">
                    <h5>Dresses</h5></a>
                    <a href="{% url 'tops' %}">
                    <h5>Tops</h5></a>
                    <a href="{% url 'cardigans' %}">
                    <h5>Cardigans & Sweaters</h5></a>
                    <a href="{% url 'gowns' %}">
                    <h5>Gowns</h5></a>
                    <a href="{% url 'jackets' %}">
                    <h5>Jackets & Coats</h5></a>
                    <a href="{% url 'jumpsuits' %}">
                    <h5>Jumpsuits</h5></a>
                    <a href="{% url 'Skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'sweatshirts' %}">
                    <h5>Sweatshirts</h5></a>
                    <a href="{% url 'jeans' %}">
                    <h5>Jeans & Jeggings</h5></a>
                    <a href="{% url 'sets' %}">
                    <h5>Sets</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'Casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'Festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'Formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'Party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'Evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'Work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'Wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'Vacation' %}">
                    <h5>Vacations</h5></a>
                    <a href="{% url 'Cocktail' %}">
                    <h5>Cocktail</h5></a>
                    <a href="{% url 'Ethnic' %}">
                    <h5>Everyday Essential</h5></a>
                    <br>
                    
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'Solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'Printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'Floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'Stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'Checks' %}">
                    <h5>Checks</h5></a>
                    <a href="{% url 'Ruffled' %}">
                    <h5>Ruffled</h5></a>
                    <a href="{% url 'Embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/emb1.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/emb1.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Chaaya Embroidered Cotton Handloom Crop Top</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">A black wrap top with stylish bell sleeves adorned with mirror work. It can be worn 
            with jeans , shorts, skirt or even as a saree blouse. Hand embroidery adorn the belt, the front
             and back. Crafted from airy cotton handloom fabric, it will keep you chic and comfortable 
             through the seasons. The open V neck makes it a flattening choice for all body types as well.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Embroidered<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/emb2.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/emb2.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Navy Blue Embroidered Keyhole Neck Knee Length Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">GAP's empire waist dress is a timeless style with retro appeal. Made from a smooth
             fabric, these long sleeves sophisticated piece has a tie-up neck. For a classier look wear 
             it with sandals.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Embroidered<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/emb3.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/emb3.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Rust Floral Embroidered Bomber Jacket</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This heavily embroidered silk bomber jacket draws inspiration from the spirit of Japan
             with Sakura (cherry blossoms) and Tsuru (the crane). This rust orange bomber jacket will
              complete the athleisure look when combined with distressed denim and block heels/flip flops.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Silk<br>
            Pattern : Embroidered<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/emb4.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/emb4.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Off White Bralette With Skirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This off white bralette and skirt set by Mati are crafted in khadi cotton. The 
            bralette features a V- neck with embroidered details, criss cross back pattern with tie-up
             details on the back and a regular fit. The skirt features a mid rise waist with pleated 
             details, slit pockets, embroidered details and a regular fit. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Khadi<br>
            Pattern : Embroidered<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/emb5.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/emb5.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Beige Embroidered Culottes</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">These calf-length beige culotte pants by Isha Singhal are crafted in georgette, 
            have a box fit and feature elaborate embroidery on the hem. Team these pants with a stylish
             top and heels to create a trendy look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Georgette<br>
            Pattern : Embroidered<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/emb6.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/emb6.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Navy Blue Coral Sky Embroidered Skirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Beachy vibes or a fun day at an alfresco Café, the Coral Sky wrap around skirt is all
             things pleasant and non-chalant. This care-free skirt with a boho like spirit is sprayed with
              embroidery and mirror work in a Cancer & Leo constellation pattern. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Embroidered<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/emb7.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/emb7.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Maroon Embroidered Jumpsuits</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This maroon jumpsuit by Global Desi is crafted in viscose and features a round neck,
             a sleeveless design, soft gather details on the waistline, an embroidered front yoke, a back
              zip fastening and a regular fit. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Viscose<br>
            Pattern : Embroidered<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/emb8.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/emb8.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Rust Round Neck Sweatshirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This rust sweatshirt is crafted in cotton and features a round neck, long sleeves,
             an asymmetric hem and embroidery detailing on the front. Pair it with denims and sneakers to
              create a casual and trendy look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Embroidered<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/emb9.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/emb9.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Off White Pullover</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This off white pullover by ONLY is crafted in acrylic and features a round neck,
             long sleeves and a regular fit. Team it with denims and sneakers to create a trendy look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Acrylic & Resin<br>
            Pattern : Embroidered<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/emb10.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/emb10.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Pink Embroidered Gown</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Biba Pink Embroidered Gown.  Incut Strappy Sheer Neckline. Keyhole button at the back
             with a center back zipper for fastening and ease. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Embroidered<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/emb11.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/emb11.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Cover Story Black Embroidery T-Shirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Cover Story EMBROIDERY Black T-Shirt. Style has been made from supremely soft cotton
             and is finished with a crew neck and short sleeves. Wear it under a slip dress
              and let the embroidered florals peek through. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Embroidered<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/emb12.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/emb12.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Khaki Halter Neck Top With Pant</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This khaki top and pant set by Mati is crafted in cotton. The top features a halter
             neck, embroidered details and asymmetrical hemline. The pants feature a high waist, slit pockets,
              soft pleats on the waist and wide legs.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Khadi<br>
            Pattern : Embroidered<br>
           
            </p>
</div>
</div><br><br>
{% endblock %}