{% extends "femalewears/westernwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block Sidebar %}
<h3><b><i>Western  Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                    <a href="{% url 'dresses' %}">
                    <h5>Dresses</h5></a>
                    <a href="{% url 'tops' %}">
                    <h5>Tops</h5></a>
                    <a href="{% url 'cardigans' %}">
                    <h5>Cardigans & Sweaters</h5></a>
                    <a href="{% url 'gowns' %}">
                    <h5>Gowns</h5></a>
                    <a href="{% url 'jackets' %}">
                    <h5>Jackets & Coats</h5></a>
                    <a href="{% url 'jumpsuits' %}">
                    <h5>Jumpsuits</h5></a>
                    <a href="{% url 'Skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'sweatshirts' %}">
                    <h5>Sweatshirts</h5></a>
                    <a href="{% url 'jeans' %}">
                    <h5>Jeans & Jeggings</h5></a>
                    <a href="{% url 'sets' %}">
                    <h5>Sets</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'Casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'Festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'Formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'Party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'Evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'Work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'Wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'Vacation' %}">
                    <h5>Vacations</h5></a>
                    <a href="{% url 'Cocktail' %}">
                    <h5>Cocktail</h5></a>
                    <a href="{% url 'Ethnic' %}">
                    <h5>Everyday Essential</h5></a>
                    <br>
                    
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'Solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'Printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'Floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'Stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'Checks' %}">
                    <h5>Checks</h5></a>
                    <a href="{% url 'Ruffled' %}">
                    <h5>Ruffled</h5></a>
                    <a href="{% url 'Embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/florals1.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/florals1.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Pink Floral Print Flutter Sleeve Top</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Split-V mandarin neck , Flutter sleeves , All over floral print ,,,,,  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Rayon<br>
            Pattern : Floral<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/florals2.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/florals2.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Olive Hung Up On You Floral Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Green floral printed rayon dress. Overlapping v-neckline. Smocked band at
             the waist for style and comfort. Full sleeves with gathers at the top and 
             elasticated at the wrist. Floral dresses create an effortless all in one
              outfit and can easily transition from day to night!. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Viscose<br>
            Pattern : Floral<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/florals3.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/florals3.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Blue Floral Print Jumpsuit</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Channel some retro vibes with this jumpsuit. Featuring a floral print fabric, 
            a ruffle neckline with a self fastening and a wide leg bottom, team it with some open flats
             for a special occasion worthy look.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Crepe<br>
            Pattern : Floral<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/florals4.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/florals4.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Pakhi Floral Dabu Box Pleat Skirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Nail the floral trend this season, with this brown box pleat skirt cotton skirt by 
            Fitoor. This dabu print skirt with a lace detail hem is a chic update to your contemporary look. 
            Style it with a crop top or tuck in a shirt to complete the playful look.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Floral<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/florals5.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/florals5.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Round Neck Silk Brocade Jacket</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This black jacket by Fablestreet is crafted in cotton and features a round neck, 
            long sleeves and a regular fit. Style it with a dress or a casual top and layered 
            chain necklace to complete the look.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Floral<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/florals6.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/florals6.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Maroon Floral Print Blazer</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Maroon floral print blazer, has a notched lapel collar, long sleeves, two pockets,
             and single-breasted with button closure </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Satin<br>
            Pattern : Floral<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/florals7.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/florals7.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Block Floral Print Goan Pants</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Summers are all about blue skies and clear seas, so bring out the carefree Block
             Print Goan Pants to set your days and feel the breeze. Throw it on with our Block Print 
             Off-Shoulder Top or a loose and comfortable tunic, add on some crazy junk along with 
             strappy flats and you are good for the season. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Floral<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/florals8.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/florals8.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Floral Printed Crop Top With Flared Pants And Jacket </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Printed all over printed crop top and flarred pants paired withy net jacket and 
            enhanced with printed boarder</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Satin<br>
            Pattern : Floral<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/florals9.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/florals9.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Teal Floral Gown</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Biba Teal Floral Gown. Floral dresses create an effortless all in one
            outfit and can easily transition from day to night!. Team it with high heels and with 
             beautiful bangles.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Nylon<br>
            Pattern : Floral<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/florals10.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/florals10.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Pretty Floral Print Sweatshirt - Multi-Color</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Feel warm and cozy, while also looking cute, in our Pretty Floral Printed Sweatshirt!
            International look and feel
            Soft breathable Cotton Terry fabric
            Cozy fit
            Long sleeves
            Pink stitch detailing
            Round neck
            Cotton Terry</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Floral<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/florals11.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/florals11.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Lavender Floral Cotton Wide Leg Trousers</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This Lavender wide leg trouser is a comfort fit that works well with shirts and tops
             tucked in. It can also be paired with our Lavender and maroon floral printed blazer.
              It is fitted on the waist and then flares a bit at the bottom.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Floral<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <a href="{% static 'img/florals12.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/florals12.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Forever Lavender Lucille Metallic Jacquard Shorts</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">These lavender jacquard shorts by Forever New are crafted in polyester and feature a
             mid waist, rose gold floral detail all over, ruffle hem, lace trim, side zip fastening and a
              relaxed fit. Style these shorts with an off-shoulder blouse and a pair of nude heels 
              to make a statement.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Floral<br>
           
            </p>
</div>
</div><br><br>
{% endblock %}