{% extends "femalewears/westernwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block Sidebar %}
<h3><b><i>Western  Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                    <a href="{% url 'dresses' %}">
                    <h5>Dresses</h5></a>
                    <a href="{% url 'tops' %}">
                    <h5>Tops</h5></a>
                    <a href="{% url 'cardigans' %}">
                    <h5>Cardigans & Sweaters</h5></a>
                    <a href="{% url 'gowns' %}">
                    <h5>Gowns</h5></a>
                    <a href="{% url 'jackets' %}">
                    <h5>Jackets & Coats</h5></a>
                    <a href="{% url 'jumpsuits' %}">
                    <h5>Jumpsuits</h5></a>
                    <a href="{% url 'Skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'sweatshirts' %}">
                    <h5>Sweatshirts</h5></a>
                    <a href="{% url 'jeans' %}">
                    <h5>Jeans & Jeggings</h5></a>
                    <a href="{% url 'sets' %}">
                    <h5>Sets</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'Casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'Festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'Formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'Party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'Evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'Work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'Wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'Vacation' %}">
                    <h5>Vacations</h5></a>
                    <a href="{% url 'Cocktail' %}">
                    <h5>Cocktail</h5></a>
                    <a href="{% url 'Ethnic' %}">
                    <h5>Everyday Essential</h5></a>
                    <br>
                    
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'Solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'Printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'Floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'Stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'Checks' %}">
                    <h5>Checks</h5></a>
                    <a href="{% url 'Ruffled' %}">
                    <h5>Ruffled</h5></a>
                    <a href="{% url 'Embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/solids1.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/solids1.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Royal Blue Trendy Temptation Maxi Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Royal blue polyester moss crepe maxi dress. Off-shoulder dress with short sleeves.
             Buttoned front for style & fastening. Smocking at the back. Fit & flare silhouette.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Crepe<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/solids2.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/solids2.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>White Foliage Sheer Shirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">HAND CUT APPLIQUED AND EMBROIDERED LONG SHIRT WITH SHEER YOKE AND SLEEVES.
             FRONT BUTTON CLOSURE  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Chanderi<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/solids3.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/solids3.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Red Edging Towards Style Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Red Polyester Knit Fit and Flare Dress. One Shoulder Neckline.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/solids4.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/solids4.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Maroon On A Style Ride Crop Top</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Maroon high twist rayon crop top. Lace detailing at front yoke & neckline. 
            3/4th sleeves with round tie-up neckline. Smocking at the hem. Buttoned front for 
            fastening & ease.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Viscose<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/solids5.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/solids5.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Laced In Me Jumpsuit</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Black rayon with lace sleeves jumpsuit. Off shoulder elasticated neckline with short 
            sleeves. Elasticated waist for ease and comfort. Flared bottom silhouette.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Rayon<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/solids6.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/solids6.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Yellow Sweatshirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This yellow sweatshirt by Only is crafted in polyester and features a hooded neck,
             long sleeves, dropped shoulders, a front tie-up detail and a regular fit. 
             Style this sweatshirt with a pair of skinny denims and high heels to complete the look.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/solids7.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/solids7.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Pink All About That Lace Gown</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Pink polyester georgette and lace maxi dress with polyester knit lining. 
            Lace detailing on the front and back yoke. Sleeveless with v neckline. 
             & flare silhouette. Side zipper for fastening & ease </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Georgette<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/solids8.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/solids8.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Maroon Solid Trousers</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Maroon High Waist Belt Trousers, Has A Waist Belt & 2 Pockets </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/solids9.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/solids9.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Navy Blue Solid Denim Jacket</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This navy blue denim jacket is crafted in cotton and features a shirt collar neck with
             button placket, puff long sleeves, two patch packet and regular fit. Style it with casual white
              t-shirt and blue jeans to complete the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/solids10.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/solids10.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Pullover</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This black pullover by Only is crafted in nylon and features a round neck, long sleeves,
             shimmer details all over and a regular fit. Style it with a pair of skinny jeans
              and basic flats to complete the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Nylon<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/solids11.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/solids11.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Light Blue Mid Waist Ankle Jeans</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This pair of blue jeans by gap is crafted in cotton , features a mid-rise waist 
            and is a must-have in your casual collection. Style these jeans with a dressy blouse and 
            a pair of high heels to complete the ensemble.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/solids12.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/solids12.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Mrigakshi Top & Pant </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Cotton Satin
            Mirror work on yoke and sleeves
            Hook on top and string at bust line
            Three fourth sleeves with umbrella flare
            Fully buttoned opening in the pant
            Pleats at waistline of the pant
            Both side seam pocket
            Comfort fit pant
            Full lining details</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Solid/Plain<br>
           
            </p>
</div>
</div><br><br>
{% endblock %}