{% extends "femalewears/westernwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block Sidebar %}
<h3><b><i>Western  Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                    <a href="{% url 'dresses' %}">
                    <h5>Dresses</h5></a>
                    <a href="{% url 'tops' %}">
                    <h5>Tops</h5></a>
                    <a href="{% url 'cardigans' %}">
                    <h5>Cardigans & Sweaters</h5></a>
                    <a href="{% url 'gowns' %}">
                    <h5>Gowns</h5></a>
                    <a href="{% url 'jackets' %}">
                    <h5>Jackets & Coats</h5></a>
                    <a href="{% url 'jumpsuits' %}">
                    <h5>Jumpsuits</h5></a>
                    <a href="{% url 'Skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'sweatshirts' %}">
                    <h5>Sweatshirts</h5></a>
                    <a href="{% url 'jeans' %}">
                    <h5>Jeans & Jeggings</h5></a>
                    <a href="{% url 'sets' %}">
                    <h5>Sets</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'Casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'Festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'Formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'Party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'Evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'Work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'Wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'Vacation' %}">
                    <h5>Vacations</h5></a>
                    <a href="{% url 'Cocktail' %}">
                    <h5>Cocktail</h5></a>
                    <a href="{% url 'Ethnic' %}">
                    <h5>Everyday Essential</h5></a>
                    <br>
                    
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'Solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'Printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'Floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'Stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'Checks' %}">
                    <h5>Checks</h5></a>
                    <a href="{% url 'Ruffled' %}">
                    <h5>Ruffled</h5></a>
                    <a href="{% url 'Embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/stripe1.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/stripe1.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Multi-Color Striped Top</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This multi-colour striped top by Vero Moda is crafted in polyester and features a
             V-neck, long sleeves, wrap bodice and a regular fit. Style it with a pair of
              black trousers and high heels to complete the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Stripes<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/stripe2.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/stripe2.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Stripes Got Me Wrapped Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Black Stripes Polyester Twill Crepe wrap dress. Sleeveless with v-neckline sheath
             dress. A functional button on the inside and a button on the front for closure.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Crepe<br>
            Pattern : Stripes<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/stripe3.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/stripe3.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Multi-Color Stripe Barbra Pask</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h
        3 id="saree1">Description</h3>
        <p id="saree1">This pask from Maison Shefali offers the sharpness of a pant with the comfort of 
            a skirt. These hand block printed wrap pants are a summer staples as it drapes like a
             dream and loves all body types. Style this with a basic tank top and high heels to 
             complete the look.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Stripes<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/stripe4.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/stripe4.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Sassystripes Red & White Stripes Jumpsuit</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">White and red striped culotte jumpsuit with layered detail, has an off-shoulder neck, short sleeves, two pockets
            Comes with a belt</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Stripes<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/stripe5.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/stripe5.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Navy Blue Stripes Print Blazer</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This navy blue striped blazer is crafted in polyester and features a lapel collar neck, 
            long sleeves, welt pockets and a regular fit. Style this blazer with a button-down shirt, 
            straight cut trousers and high heels. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Stripes<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/stripe6.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/stripe6.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>White Striped T-Shirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This white striped t-shirt by Only is crafted in cotton and features a round neck,
             short sleeves and a regular fit. Style this t-shirt with a pair of denim shorts and 
             casual sneakers to complete the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Stripes<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/stripe7.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/stripe7.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Black Striped Sweater</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This black striped sweater is crafted in a mix blend of viscose and rayon and 
            features a round neck, long sleeves and a regular fit. Style it with a pair of skinny jeans 
            and platform heels to make a statement. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Viscose<br>
            Pattern : Stripes<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/stripe8.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/stripe8.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Yellow Round Neck Top With Pant </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Add a twist to your look with this set. Pair it with flats and fine accessories to 
            complete the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Viscose<br>
            Pattern : Stripes<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/stripe9.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/stripe9.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Grey/White Eyelet Detail Sweatshirt </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Made from 44% cotton 49% polyester 2% lycra-boat neck-full sleeves-eyelet detail
             at sleeves-back v-neck detail-relaxed fit-hip length-machine wash-casual wear </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Stripes<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/stripe10.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/stripe10.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Navy Blue Trouser</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">These navy blue trouser pants by ONLY are crafted in viscose, nylon, polyester and
             elastane and feature striped patterns and a slim fit. Team these pants with a top
              and flats to create a trendy look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Viscose<br>
            Pattern : Stripes<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/stripe11.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/stripe11.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Multi-Colored Splatter High-Low Jacket</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Pair the brown splatter high low chiffon jacket with a white tank top and black pants 
            for a perfect Sunday brunch look! </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Chiffon<br>
            Pattern : Stripes<br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3 ">
        <a href="{% static 'img/stripe12.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/stripe12.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Purple Striped Skirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This skirt by cover story is a statement maker. Pair it with a solid top and heels
             to complete the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Stripes<br>
           
            </p>
</div>
</div><br><br>
{% endblock %}