{% extends "femalewears/indianwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block sidebar %}
<h3><b><i>Indian Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                        <a href="{% url 'blouse' %}">
                        <h5>Blouse</h5></a>
                        <a href="{% url 'kurtikurta' %}">
                        <h5>Kurtis Kurtas & Tunics</h5></a>
                        <a href="{% url 'lehenga' %}">
                        <h5>lehengas</h5></a>
                        <a href="{% url 'salwarsuit' %}">
                        <h5>Salwar Suit</h5></a>
                        <a href="{% url 'saree' %}">
                        <h5>Sarees</h5></a>
                        <a href="{% url 'dupattas' %}">
                        <h5>Dupattas</h5></a>
                        <a href="{% url 'ethnicdress' %}">
                        <h5>Ethnic Dress</h5></a>
                        <a href="{% url 'ethnicjackets' %}">
                        <h5>Ethnic Jackets</h5></a>
                        <a href="{% url 'bottoms' %}">
                        <h5>Bottoms</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'vacations' %}">
                    <h5>Vacations</h5></a>
                    <br>
                    <p><i><u><b>Types</b></u></i></p>
                    <a href="{% url 'pants' %}">
                    <h5>Pants</h5></a>
                    <a href="{% url 'skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'leggings' %}">
                    <h5>Leggings</h5></a>
                    <a href="{% url 'churidars' %}">
                    <h5>Churidar</h5></a>
                    <a href="{% url 'dhotis' %}">
                    <h5>Dhotis</h5></a>
                    <a href="{% url 'plazzos' %}">
                    <h5>Palazzos</h5></a>
                    <a href="{% url 'shararas' %}">
                    <h5>Sharara</h5></a>
                    <br>
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'mirror' %}">
                    <h5>Mirror Work</h5></a>
                    <a href="{% url 'stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'checks' %}">
                    <h5>Checks</h5></a>
                    
                    <a href="{% url 'embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/floral1.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Green Floral Blouse</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">A floral blouse to match with your favourite bottoms. It is a printed top with 
            little bit of shimmer, round neckline, side zip closure and bottom loop at back neck.
             It is a cotton crafted piece coming with cotton lining, which is making 
             it extremely soft to touch. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Floral <br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/floral2.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b> Pink Floral Tunic</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Biba Pink Floral Tunic makes your wardrobe stylish. Match it with your favourite 
            nd matching bottom. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Floral <br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/floral3.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b> Peach Floral Printed Shaded Cotton Kurti </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Enhance your look with this kurta by Fashor. 
            Style it with fine accessories and heels to create a trendy look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Floral <br>
            Type of work : Printed
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/floral4.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b> Maroon Floral Classic Lehenga With Blouse </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This maroon lehenga is crafted in a blend of viscose and polyester and features 
            a printed detailing all over, a side zip closure and an elasticated back. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Viscose<br>
            Pattern : Floral <br>
            Type of work : Printed
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/floral5.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b> White Floral Kurta With Palazzo & Dupatta  </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Get admired for your amazing fashion sense by wearing this kurta set.
             Pair it with heels and fine accessories to slay the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Floral <br>
            Type of work : Block Print
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/floral6.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b> Black Printed Floral Saree With Blouse Piece  </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This black floral printed saree is crafted in organza and comes along with an
             blouse piece. The saree features lace trim details all around the edges and makes an elegant
              addition to your ethnic/festive wardrobe.  </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Organza<br>
            Pattern : Floral <br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/floral7.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b> Yellow Floral Printed Dupatta  </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">This yellow printed dupatta has green border. Makes your wardrobe more stylish. 
            Pair it with heels and fine accessories to slay the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Viscose<br>
            Pattern : Floral <br>
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/floral8.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b> Grey Ethnic Motifs Straight Cotton Floral Skirt </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Flaunt your fashion sense by wearing this skirt.
             Pair it with a solid top and heels or strapped flats to complete the look.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Floral <br>
            Type of work : Printed
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/floral9.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b> Floral Hand Block Maxi Dress </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Floral hand block patterned maxi with bell sleeves
            Pair it with heels or strapped flats to complete the look.
        </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Rayon<br>
            Pattern : Floral <br>
            Type of work :  Block Print
            
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-4 ">
        <img src="{% static 'img/floral10.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b> Pink Floral Tie-Up Shrug </b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">The short sleeves and the layered look of the shrug makes it look classy when paired
             with denims, shorts or white pants. The rich handloom linen fabric feels soft and comfortable
              on the skin. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Floral <br>
            
            
            </p>
</div>
</div><br><br>
{% endblock %}