{% extends "femalewears/indianwear.html" %}
{% load static%}
{% block introsection %}
{% endblock %}
{% block sidebar %}
<h3><b><i>Indian Wear</i></b></h3><br>
                    <p><i><b>Filters</b></i></p>
                    <p><i><u><b>Categories</b></u></i></p>
                        <a href="{% url 'blouse' %}">
                        <h5>Blouse</h5></a>
                        <a href="{% url 'kurtikurta' %}">
                        <h5>Kurtis Kurtas & Tunics</h5></a>
                        <a href="{% url 'lehenga' %}">
                        <h5>lehengas</h5></a>
                        <a href="{% url 'salwarsuit' %}">
                        <h5>Salwar Suit</h5></a>
                        <a href="{% url 'saree' %}">
                        <h5>Sarees</h5></a>
                        <a href="{% url 'dupattas' %}">
                        <h5>Dupattas</h5></a>
                        <a href="{% url 'ethnicdress' %}">
                        <h5>Ethnic Dress</h5></a>
                        <a href="{% url 'ethnicjackets' %}">
                        <h5>Ethnic Jackets</h5></a>
                        <a href="{% url 'bottoms' %}">
                        <h5>Bottoms</h5></a>
                    <br>
                    <p><i><u><b>Occasions</b></u></i></p>
                    <a href="{% url 'casual' %}">
                    <h5>Casual</h5></a>
                    <a href="{% url 'festival' %}">
                    <h5>Festival</h5></a>
                    <a href="{% url 'formal' %}">
                    <h5>Formal</h5></a>
                    <a href="{% url 'party' %}">
                    <h5>Party</h5></a>
                    <a href="{% url 'evening' %}">
                    <h5>Evening</h5></a>
                    <a href="{% url 'work' %}">
                    <h5>Work</h5></a>
                    <a href="{% url 'wedding' %}">
                    <h5>Wedding</h5></a>
                    <a href="{% url 'vacations' %}">
                    <h5>Vacations</h5></a>
                    <br>
                    <p><i><u><b>Types</b></u></i></p>
                    <a href="{% url 'pants' %}">
                    <h5>Pants</h5></a>
                    <a href="{% url 'skirts' %}">
                    <h5>Skirts</h5></a>
                    <a href="{% url 'leggings' %}">
                    <h5>Leggings</h5></a>
                    <a href="{% url 'churidars' %}">
                    <h5>Churidar</h5></a>
                    <a href="{% url 'dhotis' %}">
                    <h5>Dhotis</h5></a>
                    <a href="{% url 'plazzos' %}">
                    <h5>Palazzos</h5></a>
                    <a href="{% url 'shararas' %}">
                    <h5>Sharara</h5></a>
                    <br>
                    <p><i><u><b>Pattern</b></u></i></p>
                    <a href="{% url 'solid' %}">
                    <h5>Solid/Plain</h5></a>
                    <a href="{% url 'printed' %}">
                    <h5>Printed</h5></a>
                    <a href="{% url 'floral' %}">
                    <h5>Floral</h5></a>
                    <a href="{% url 'mirror' %}">
                    <h5>Mirror Work</h5></a>
                    <a href="{% url 'stripes' %}">
                    <h5>Stripes</h5></a>
                    <a href="{% url 'checks' %}">
                    <h5>Checks</h5></a>
                    
                    <a href="{% url 'embroidered' %}">
                    <h5>Embroidered</h5></a>

{% endblock %}
{% block mainbar %}
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/printed1.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/printed1.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Blue Poly Silk printed Blouse</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Exclusively constructed with absolute perfection this blouse comes with half sleeves
             and scoop neckline, this blouse is having contrasting classy printed pattern. 
             This charming blouse will surely fetch you compliments for your rich sense of style. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Printed <br>
           
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/printed2.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/printed2.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Grey Abstract Side Cowl Printed Tunic</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Rejuvenate your ethnic wear collection with this tunic. Pair it with straight pants,
             heels and fine accessories to complete the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Viscose<br>
            Pattern : Printed <br>
           Type of work : Printed
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/printed3.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/printed3.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Navy Blue Fusion of Prints Anarkali Cotton Kurta</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1">Get noticed everywhere you go by wearing this kurta. 
            Pair it with matching leggings and heels to complete the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed <br>
           Type of work : Shibori
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/printed4.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/printed4.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Grey Printed Crop Top With Lehenga & Dupatta</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1"> It is a set of three which includes, a crop top, a lehenga and a dupatta.
             Blouse comes featuring gold thread detailing all-over, round neckline and tie-up at back neck.
              Lehenga comes featuring print in gold and silver tone, elasticated waist with drawstring 
              and dupatta comes in exact match with the set.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Polyester<br>
            Pattern : Printed <br>
          
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/printed5.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/printed5.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Blue Handblock Printed Cotton Suit Kurta With Pant & Dupatta</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1"> This pantone indigo hand block cotton suit set by Aachho is crafted in cotton and
             comes attached with a chanderi dupatta. Featuring a handwork gota on set, round neckline,
              half sleeves, this suit set offers a comfortable fit.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed <br>
          
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/printed6.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/printed6.jpg' %}" class="img-responsive" alt="lights" style="width:100%">
        <p><b>Ishin White Poly Cotton Printed Women Saree With Blouse Piece</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1"> Ishin Poly Cotton White Printed Women's Saree will be a perfect addition to your
             ethnic Collection. The Length of Saree-6 Mrs.</p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed <br>
            Type of Work : Printed
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/printed7.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/printed7.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Pink Printed Silk Dupatta</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1"> Banarasi katan pink silk dupatta in jhumka pattern motifs weaved all over the
             body with rich golden zari. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Silk<br>
            Pattern : Printed <br>
            Type of Work : Zari
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/printed8.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/printed8.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Multi-Color Ethnic Motifs Straight Cotton Printed Skirt</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1"> Flaunt your fashion sense by wearing this skirt. Pair it with a solid top and heels
             or strapped flats to complete the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Cotton<br>
            Pattern : Printed <br>
            Type of Work : Printed
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/printed9.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/printed9.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Maroon Poly Shantoon Foil Print Maxi Dress</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1"> This maroon viscose poly shantoon gold foil print cold-shoulder maxi dress with 
            cambric lining features a round neck and a regular fit. Pair this dress with stud 
            earrings and heels to complete the look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Viscose<br>
            Pattern : Printed <br>
            Type of Work : Block Print
            </p>
</div>
</div>
<div class="row ">
    <div id="saree" class="col-md-3">
        <a href="{% static 'img/printed10.jpg' %}" data-lightbox="image-1" >
        <img src="{% static 'img/printed10.jpg' %}" class="img-responsive" alt="lights" style="width:100%"></a>
        <p><b>Pink Printed Cape</b></p>
    </div>
    <div id="saree3" class="col-md-8  ">
        <h3 id="saree1">Description</h3>
        <p id="saree1"> This pink cape is crafted in chiffon and features floral motifs all over all over. 
            Team this cape with a cami top, flared pants and fine jewellery to create a statement look. </p>
        <h3 id="saree2">Product Details</h3>     
        <p id="saree1">Material : Chiffon<br>
            Pattern : Printed <br>
            
            </p>
</div>
</div><br><br>
{% endblock %}